[2012-09-21 22:16] chadrockey opened #1 "Kinematics Tool GUI - Reduce Orientation Ambiguity"
It took me about 5 minutes of trial and error to realize that the orientation R,P, Y are set in degrees and not radians.  At the very least, a note should be made to express the units here.

Ideally, there would be a selection box to allow a user to input orientation in their preferred method: degrees, radians, or quaternion.

[2012-09-21 22:20] chadrockey opened #2 "Possible to allow cancelling IK exploration in Kinematics Tool GUI?"
The IK tool can take a long time to run.  It could be convenient to add a cancellation button to the GUI to stop solving for new points in case the user made a mistake setting up the parameters (despite the Visualize Points button).

This way, the user wouldn't have to close and restart the GUI to restart.

[2012-09-21 22:24] chadrockey opened #3 "Configure IK Timeout in Kinematics Tool GUI"
I heard that the default for a non-solution is 5 seconds per point.

If a user is not familiar with their arm, the initial guesses for Workspace size can be defined with many non-solution points.

Allowing the user to change this value would speed preliminary searches and allow much faster searching if the user knows their arm does not contain many degrees of freedom.

[2012-09-21 22:28] chadrockey opened #4 "Configure FK Computation in Kinematics Tool GUI in terms of Time or Samples"
I loaded a simple 3 dof arm into the tool and allowed it to compute FK for around 1 second.  This generated 600,000 points that immediately locked up my computer when RVIZ attempted to visualize that number.

It should be possible to define the stopping point of the computation in terms of either overall 'Allowed Time for Computation' or 'Maximum Output Samples' (default around 1000?).  This shoul

[2012-09-21 22:31] chadrockey commented on #1
Wrong repository, should be moveit-ros.  :(

[2012-09-21 22:31] #1 closed, assigned to nobody

[2012-09-21 22:33] chadrockey commented on #2
Wrong repository, should be moveit-ros.  :(

[2012-09-21 22:33] #2 closed, assigned to nobody

[2012-09-21 22:33] chadrockey commented on #3
Wrong repository, should be moveit-ros.  :(

[2012-09-21 22:33] #3 closed, assigned to nobody

[2012-09-21 22:33] chadrockey commented on #4
Wrong repository, should be moveit-ros.  :(

[2012-09-21 22:33] #4 closed, assigned to nobody

[2012-11-06 23:49] jonbinney opened #6 "kinematics_model doesn't load end effector info properly from srdf"
In planning_models::KinematicModel::buildGroupInfo, there's some logic to figure out the parent groups of each end effector group. It basically says that if the parent link of the end effector group belongs to exactly 1 group, then that is the parent group of that end effector group. It then sets attached_end_effector_group_name_ in the parent group, and end_effector_parent_ in the end effector gr

[2012-11-07 11:02] isucan commented on #6
Not sure what the correct way is, but I put some code that selects the smallest group (in terms of number of joints) as the parent. This sounds like it would do something reasonable for the cases I thought of. We might have to revisit this at some point.

[2012-11-07 11:03] #6 closed, assigned to nobody

[2012-11-08 18:44] isucan opened #7 "allow specifying passive joints in srdf"

[2012-11-08 19:46] isucan commented on #7
done for groovy. we now need a screen in the setup assistant

[2012-11-08 19:46] #7 closed, assigned to isucan

[2012-11-10 05:15] tfoote opened #8 "kinematic_state has ~40 Mb of meshes checked into the test directory"
The meshes should not be in the source repo.

[2012-11-13 01:28] ibrahima opened #9 "Having trouble building against ros-groovy with catkin"
Hi, I'm trying to build the latest moveit stack from source and have been having some difficulty. Basically I can build moveit_core fine, and then when I try to build moveit_ompl_planners_core it fails because it can't find the headers that should be exported by moveit_core. I feel like I have a decent understand of how catkin is set up but it seems like something is missing from the CMakeLists.tx

[2012-11-13 20:35] ibrahima commented on #9
I've been able to build just the planner interface for OMPL in a local workspace against the deb packaged moveit libraries which is good enough for me for now, sorry for the extra noise. I guess the "Installing from source" instructions could use some updating but that's not terribly important right now.

[2012-11-13 21:14] isucan commented on #9
Hey, you are correct in that some stuff is missing from includes. I am using a non-default setup that used to cause some problems in install space. I will try again and see if i can fix this.

[2012-11-13 22:03] ibrahima commented on #9
Awesome, good to hear.

[2012-11-14 01:00] ibrahima commented on #9
I'd just like to report that as of now I can build basically everything in moveit! Thanks!

[2012-11-14 01:23] isucan commented on #9
Thanks for confirming. As soon as the latest rviz build completes, you should be able to compile the rest of things. In any case, that is a different bug than this one, so I will close it.

[2012-11-14 01:23] #9 closed, assigned to nobody

[2012-11-22 00:20] marioprats opened #10 "Cannot create Chain with branches"
I'm trying to setup a robot composed of a chain where some of the links have more than one child (e.g, an arm with a camera attached to a link). It seems that moveit cannot create a Chain from it, I'm getting the error "Group is not a chain".

[2012-11-23 20:46] isucan opened #11 "weight limit computation in kinematic_metrics"
The weight limit appears to be computed incorrectly. A value that looks a lot like uninitialized values or division by 0 appears on screen instead.

[2012-11-24 23:12] #10 closed, assigned to nobody

[2012-11-27 19:34] sachinchitta commented on #11
Can you tell what I need to do to reproduce this error - preferably on Fuerte right now.

[2012-11-27 19:36] sachinchitta commented on #8
Oops sorry - that was not what I was trying to do.

[2012-11-27 19:54] jonbinney commented on #11
A wise man once told me that we should all be on groovy now.....

[2012-11-27 19:56] sachinchitta commented on #11
Ok, fine! Tell me how to do it in Groovy. That was the best ticket response yet though :)

[2012-11-29 04:50] sachinchitta commented on #11
Fixed in groovy-devel.

[2012-11-29 04:50] #11 closed, assigned to sachinchitta

[2012-12-11 15:06] isucan commented on #8
moved resources to moveit-resources repo

[2012-12-11 15:06] #8 closed, assigned to isucan

[2013-01-04 01:52] sachinchitta opened #14 "Add differential IK to joint_state_group"
probably something along the lines of  bool setFromDiffIK(const Twist &twist, const double dT, const diffIKCallback &callback) where the diffIKCallback returns a vector of joint velocities that are to be applied in the nullspace. Then add a set of default callbacks: e.g. move towards reference joint position in nullspace or move away from joint limits, etc.

[2013-01-04 01:53] sachinchitta opened #15 "add projections onto constraint manifolds to joint_state_group for the constraints in kinematic_constraints"

[2013-01-04 08:07] isucan commented on #15
This is very similar to what the constraint samplers do. I think the project() function should be a member of the corresponding constraint samplers.

[2013-01-07 17:38] isucan commented on #15
I added the project() function in moveit_core; please reopen if needed

[2013-01-07 17:38] #15 closed, assigned to isucan

[2013-01-07 19:02] marioprats commented on #14
I have a first working version of this. This is what I've done:
- In moveit_core, add setFromDiffIK to joint_state_group. This method basically computes qdot=Jinv*xdot. It uses the getJacobian method, so no dependencies to KDL. If a callback is given, its result (a vector of joint velocities) is projected into the nullspace of the jacobian, thus allowing defining secondary tasks. I also overloaded

[2013-01-18 03:14] marioprats opened #17 "Automatically creating fixed frame when not defined in srdf"

[2013-01-19 00:02] aleeper opened #18 "API for getting joint velocities from a KinematicState"
It would be useful to be able to retrieve joint velocities for doing fancy-pants planning. At the simplest level, the velocities could be thrown into a map<string, double>. A more complex method would be to expand the actual JointState class to have velocities. (i.e. Does a simple map allow for multi-variable joints? Do we care?)

Bonus points for a convenience function that does forward time-inte

[2013-01-19 00:48] sachinchitta commented on #18
there's a setFromDiffIK that uses velocity IK to do this from a given state given a twist. It also includes a nullspace contribution.

[2013-01-19 00:51] marioprats commented on #18
Well, the integration is currently done inside the setFromDiffIK but there
was a plan for splitting it into an "integrate" method

On Fri, Jan 18, 2013 at 4:48 PM, sachinchitta notifications@github.comwrote:

[2013-01-19 01:07] aleeper commented on #18
@sachinchitta I don't have a twist. I need the current joint velocities so I can estimate the state of the arm at a time slightly in the future (on the order of 10-50 ms).

I know extrapolation is bad, but it will be better than nothing, and having access to the values received in the sensor_msgs::JointState message will be better than manually computing a finite difference... maybe...

[2013-01-19 04:06] isucan commented on #18
I split setDiffFromIK into just the part that computes joint velocities and the part that 'integrates' those joint velocities. That part i guess should be in a separate function as well, which setDiffFromIK calls, and all should be well.
The integration function is really simple -- just applies fwd Euler method. Since we have f' being constant, it seems to me it is not worth doing any other method

[2013-01-19 04:20] aleeper commented on #18
Forward Euler is all I was going to do...

[2013-01-20 03:14] isucan opened #19 "sampling base poses"
it seems that sampling base positions for goal regions never succeeds, although it seems to me it should.

[2013-01-25 20:41] aleeper opened #28 "Better control of collision object cache"
As demonstrated to Ioan, updating a planning scene via planning scene diffs received over the wire can cause memory issues with large octomaps. This is due to the cache size and how often it decided to clear the cache of obsolete object references.

Suggest either (a) the ability to manually clear the cache, or (b) automatically clearing the cache when an octomap is removed (and replaced by a new

[2013-01-25 21:57] #28 closed, assigned to nobody

[2013-01-28 06:29] isucan commented on #14
mario fixed this

[2013-01-28 06:29] #14 closed, assigned to marioprats

[2013-01-28 20:21] isucan opened #31 "split collision_detection"
We need to make the collision checker and the world representation separate
attn: @acornacorn

[2013-01-28 21:07] acornacorn commented on #31
For both FCL and Distance Field?

[2013-01-28 22:47] isucan opened #32 "rework KinematicState"
make it efficient;

This will happen only after groovy release.

[2013-01-28 22:48] isucan opened #33 "add low level data structure for repersenting RobotTrajectory"
We should change the way we represent MultiDOFJoints too.

[2013-01-28 22:49] isucan opened #34 "add handles to planning_interface base class"

[2013-01-30 05:37] isucan opened #35 "make iterative time parameterization tool use KinematicTrajectory"

[2013-02-06 17:58] isucan commented on #33
done

[2013-02-06 17:58] #33 closed, assigned to isucan

[2013-02-06 17:58] isucan commented on #19
fixed

[2013-02-06 17:58] #19 closed, assigned to isucan

[2013-02-06 18:03] isucan opened #39 "generalize computeCartesianPath"
in JointStateGroup, we need to change the API as follows:
instead of a direction of motion and a desired distance to be traveled, we need to take a target Pose (position + rotation).
To convert previous calls, rotation will be identity, position will be 0 + vector \* distance

Then, once the target pose is specified, and a number of steps to split the distance from current state to that target pos

[2013-02-06 18:04] acornacorn commented on #32
Some thoughts/notes on this (from an email I sent to Sachin earlier)

some ideas for shrinking KinematicState to speed copying:
- Instead of storing JointState objects, store
  - a single array of joint_state_values_ (doubles, as many as needed for all joints)
  - a single array of variable_transform_ (matrices, one per joint)
- Store a map from joint name to joint index in the KinematicModel - no

[2013-02-06 18:05] sachinchitta commented on #32
The other thought here might be to move the IK computations into KinematicModel so we have const implementations of it (that are stateless).

[2013-02-06 18:11] acornacorn opened #40 "IK perf for unreachable poses"
The IK seems quite fast but slows down a lot when requested to calculate an unreachable pose.

Idea: a certain set of poses could be precalculated as impossible.  For example for a chain with only revolute joints any end position farther than the sum of the link lengths is impossible.  Would it make sense to store such info (e.g. a sphere radius per joint group) so that some requests can be trivia

[2013-02-06 18:25] sachinchitta commented on #40
There's a kinematics_cache package in moveit_core that does some of this. It needs a little bit of reworking that we could talk about.

[2013-02-06 20:37] isucan commented on #32
+1 on all acorn said

[2013-02-06 20:37] isucan commented on #40
I think the optimization acorn mentions is different than the cache. We should have it in, separate from that cache

[2013-02-12 00:59] isucan opened #44 "rework CollisionRequest API"
Ideally split into CollisionRequest and DistanceRequest.

For distance, also return closest points pair;
in the distance request, perhaps a max distance of interest would be useful.

attn @acornacorn

[2013-02-13 01:50] poftwaresatent commented on #44
Another thing to consider concerns how to handle collisions in the distance request. The simplest way of course is to say "there is a collision so we do not have distance info." OTOH if we want to use the distance request in order to move a colliding link such that it becomes free, something fancier (e.g. minimum separation distance) would be required.

[2013-02-13 17:13] acornacorn commented on #44
I was thinking we could simplify the collision detection interface quite a bit by reducing the number of functions and placing the extra parameters in the CollisionRequest.  The Collision request could include
- whether we want self collisions, intra-group collisions, and/or world collisions (all by default)
- the ACM if there is one.
- whether we want colliding bodies and/or contact points (this

[2013-02-28 03:26] davetcoleman opened #47 "Orocos IK Segfault when using Pick >1 Grasp"
Pick server works when I send it 1 grasp at a time, but if I send multiple I get an error related to Orocos IK / Eigen / IKConstraintSampler

[code]

The backtrace:

[code]

[2013-03-13 03:08] isucan opened #50 "use ids in AllowedCollisionMatrix as message"

[2013-03-13 03:16] isucan commented on #31
this is now done

[2013-03-13 03:16] #31 closed, assigned to isucan

[2013-03-13 03:16] isucan commented on #39
done

[2013-03-13 03:16] #39 closed, assigned to marioprats

[2013-04-06 12:00] skohlbr opened #56 "Unwanted transform in setIK function of joint_state_group"
Hi everyone, I'm encountering a little issue with the setIK() function provided by joint_state_group.
I have a ikfast based plugin implementing the kinematics_base interface. The base_frame for the plugin is the "/utorso" frame. I also have goal pose represented by a geometry_msgs/Pose already given in the "/utorso" frame. If I call setIK() on my joint group with this goal pose, I would expect tha

[2013-04-06 12:32] isucan commented on #56
Is the issue that the computed result is incorrect? What I would expect to happen is that you have 2 transforms that cancel each other (up to numerical precision) applied to your pose. If running demo.launch gives expected results, then things should be fine. However, as you point out an optimization is in order. Is that what you would like? Adding this optimization should not be a problem, but I'

[2013-04-08 11:26] skohlbr commented on #56
Yes, the computed result is incorrect. For generating the goal, I sample valid fk, make sure call ik for the resulting pose and send the goal pose to planning (with "utorso" frame_id). I added debug ouput in the IK's solve() step, so I can see with which exact pose IK was called.

When generating this is what I get from IK:

<pre>
[ INFO] [1365419276.366940662, 23.129000000]: tx: -0.530366 ty: -0.

[2013-04-08 11:33] skohlbr commented on #56
On closer look, it seems the setIK() function taking a geometry_msgs::Pose as a input does not look at the header's frame_id in any way (/edit: See  Post below, there isn't any frame_id, we're not looking at a PoseStamped) and just converts the pose to a Eigen pose. This of course means that providing a pose using any other frame than the intended one will cause wrong behavior.

[2013-04-08 11:36] skohlbr commented on #56
..and looking once more in the doxygen docs it says:

<pre>
The pose is assumed to be in the reference frame of the kinematic model
</pre>

So the issue is pretty much my fault because I didn't read the docs thoroughly enough :)

/edit: And stupid me missed that I'm the one stripping the pose of the frame_id already, as we only supply a non-stamped pose to setIK(). Sorry for the noise.

[2013-04-08 12:08] isucan commented on #56
So... I am guessing problem solved? The catch is that the robot state is not necessarily aware of TF and so does not take frame ids as input

[2013-04-08 12:24] skohlbr commented on #56
Yes, can be closed. Also makes sense not to be tf-aware in robot state. Thanks for the fast reply.

[2013-04-08 12:26] #56 closed, assigned to nobody

[2013-04-08 19:31] isucan opened #58 "move getMinDistanceToBounds() to robot_state"

[2013-04-08 19:34] isucan opened #59 "getMinDistanceToBounds() does not work for PLANAR and FLOATING joints"

[2013-04-09 00:07] sachinchitta commented on #58
Done. d90fa292b6dd3fae733303869242c07298fb7859

[2013-04-09 00:07] #58 closed, assigned to sachinchitta

[2013-04-09 00:09] sachinchitta commented on #59
Fixed - will not use floating joints for determining distance to bounds, will use planar joint only if its bounded. Interpreting joint limits for a mixture of joints is still nebulous but this version should satisfy the most common use cases.

[2013-04-09 00:09] #59 closed, assigned to nobody

[2013-04-12 20:30] aleeper opened #61 "Ensure consistent convention for contact normals"
I'm ticketing this to ensure it has been addressed before alpha release.
Previously, FCL was reporting normals that pointed from contact1 -> contact2 for certain types (primitives, I think), and from contact2 -> contact1 for Octomap.

We need to make sure there is a standard (for all collision detectors used through the MoveIt API) for which direction a reported normal points.

[2013-04-15 08:57] isucan commented on #18
this has been done. For efficient storage, we need #32

[2013-04-15 08:57] #18 closed, assigned to nobody

[2013-04-15 08:58] isucan commented on #44
This has been revisited. The split in requests was not done due to efficiency concerns.

[2013-04-15 08:58] #44 closed, assigned to nobody

[2013-04-15 17:30] isucan commented on #17
done

[2013-04-15 17:30] #17 closed, assigned to nobody

[2013-05-03 15:51] isucan commented on #35
In the moveit_core package, the trajectory_processing library includes the IterativeParabolicTimeParameterization class; That class computes time staps for the waypoints of the robot along a given trajectory.

The issue that needs to be resolved is that the computeTimeStamps() function should operate directly on the robot_trajectory::RobotTrajectory class; currently, it instead converts the trajec

[2013-05-10 19:42] tulku commented on #35
We have started working on this and committed the first changes to my fork.

I have a question, in the bug report you state that the original JointTrajectory should still be available as wrappers of the RobotTrajectory ones, whoever, they are not being use by anyone right one. Are they really necessary? (I've made them private and everything compiles fine).

[2013-05-10 20:12] aleeper commented on #35
I think we should keep them; it makes it easier for folks who might already have a JointTrajectory and want to manually call the time parameterization in their own code (which I have done sometimes).

[2013-05-12 16:36] isucan commented on #35
sorry for the late reply - pretty bad internet at the conf and the schedule was a bit hectic.
the code looks great, thanks! the functions you mention are indeed not used anywhere, but i agree with adam about keeping them. the implementation should be simple anyway,  so there is no problem having them. we will just include in the docs the fact that conversions are performed and the use is not encou

[2013-05-12 18:42] tulku commented on #35
Ok, I'll leave them public using the conversions. Just asked to avoid possible dead code. Thanks!

[2013-05-14 21:25] tulku commented on #35
Hi!

I have been spending quite some time now finishing this patch and run into a problem.

Part of the process that's done to the trajectory_msgs::JointTrajectory is calling a function called updateTrajectory which is suppose to "Takes the time differences, and updates the values in the trajectory". However this function also makes some velocity (although the code is commented) and acceleration c

[2013-05-15 07:44] isucan commented on #35
@tulku The velocities are stored for a point indeed, and previously they were stored in the message, for each trajectory point. When using the RobotTrajectory class, you will have to store the velocities in the RobotState instances, using the functions you found. The reason they are marked for removal is because they are horribly inefficient in terms of memory allocation for states. Nevertheless,

[2013-05-15 17:34] tulku commented on #35
@isucan Thanks for that information. If I understood you correctly, to update the RobotTrajectory we should:
- Update the duration_from_previous_ queue using the robot_trajectory::setWayPointDurationFromPrevious() taking the values from the time_diff vector.
- Update the velocities of each joint in each state of the waypoints_ queue asking for the velocities vector of each joint using joint_state:

[2013-05-15 20:19] isucan commented on #35
Yep, this sounds good.

[2013-05-17 05:16] mikeferguson commented on #47
I'm hitting the same error -- did you ever find a fix for this Dave?

[2013-05-20 18:43] davetcoleman commented on #47
I don't believe so - I can't remember how i got around this. I switched IK solvers to IKFast, I think that is how I avoided this...

[2013-05-22 18:33] isucan opened #64 "transforms in moveit"
transforms need to be separated out from robot_state
Transforms needs to probably exist as a base class that offers the current functionality;
Other classes inherit from Transforms and use the frames implicitly defined by a planning scene and a robot state. only base pointers to Transforms get passed around, but the planning scene instantiates the most derived class.

[2013-05-22 20:27] davetcoleman commented on #64
should we think about better integration with tf2?

@tfoote

[2013-05-22 20:33] isucan commented on #64
i'd like to use tf2, but this is a separate issue.
switching to tf2 should be easy, since most of moveit does not use tf directly for transforms

[2013-05-24 15:06] egiljones opened #66 "updating ros-groovy-moveit* does not pull new versions of ros-groovy-geometric-shapes"
Pointed at the main ros repos I just ran the command 'sudo apt-get update ros-groovy-moveit*' and pulled the following packages:

Setting up ros-groovy-moveit-msgs (0.4.0-0precise-20130523-1152-+0000) ...
Setting up ros-groovy-moveit-core (0.4.0-0precise-20130523-1156-+0000) ...
Setting up ros-groovy-moveit-ros-perception (0.4.0-1precise-20130523-1223-+0000) ...
Setting up ros-groovy-moveit-ros-pl

[2013-05-24 15:17] isucan commented on #66
The issue is that you asked for the update of the moveit packages, and you still had a version of geometric_shapes installed; The moveit packages do not specify a minimum version for the dependency, which causes the problem.
I don't think we have support for declaring minimum versions in the build/release system;
@tfoote Is this true?

[2013-05-24 17:08] tfoote commented on #66
We have support see REP 127 http://ros.org/reps/rep-0127.html#build-depend-multiple

[2013-05-24 20:26] isucan commented on #50
@acornacorn since we talked about this yesterday; turns out there is also a ticket :)

[2013-05-26 20:55] pirobot opened #68 "set_joint_value_target() and plan() should check joint limits set in URDF"
In MoveIt 0.4.0, it seems that the functions set_joint_value_target() and plan() allow one to specify target joint values outside the limits set in the URDF.  The robot doesn't actually move beyond the limits but there is no warning that an attempt has been made to go outside the limits.  Perhaps an attempt to exceed joint limits should return a "failure" or "warning" flag.

[2013-05-27 07:36] skohlbr opened #69 "Support multiple collision geometries for URDF models (e.g. Atlas model) in MoveIt!"
This is related to robot_model ticket 18 which can serve as an overview on the issue:
https://github.com/ros/robot_model/issues/18

It would be great to have compatibility for this in MoveIt! so we don't have to work on giving Atlas a single collision geom per link again.

[2013-05-27 10:46] isucan commented on #68
fixed in https://github.com/ros-planning/moveit_ros/commit/c00c4a5f3df52b91929cb1cd65a2879d1728e599

[2013-05-27 10:46] #68 closed, assigned to isucan

[2013-05-27 11:09] #66 closed, assigned to isucan

[2013-05-28 16:30] isucan commented on #64
done

[2013-05-28 16:30] #64 closed, assigned to isucan

[2013-06-18 15:01] vrabaud opened #75 "Adding closest feasible state"
Here is the scenario: when using an interactive marker on a less than 6 dof arm, I'd like the closest valid state to be displayed. Right now, the IR is useless on a less than 6 dof as every state is invalid. I understand adding more joint (like the torso) would solve that problem.

I'm just wondering whether that feature is possible/useful, maybe through KDL. Your call.

[2013-06-27 10:47] mikeferguson commented on #47
pull request merged, this should be fixed.

[2013-06-27 10:47] #47 closed, assigned to nobody

[2013-06-27 18:13] davetcoleman commented on #47
Thanks Fergs, its been 4 months!

[2013-07-01 23:55] davetcoleman opened #77 "Hard coded database path"
There is a `WARN` from `rosconsole_bridge` being generated when launch demo.launch that says:

[code]

I did a grep through all of MoveIt! as well as my robot's repos and I found two location's with **isucan** hard-coded in. After removing them, this error still did not go away (the locations didn't seem like they would effect the output, and they didn't). But I'm not sure where the output is comi

[2013-07-09 17:58] teddybouch opened #80 "Installation Failure on openSUSE 12.3"
I'm trying to follow the instructions on http://moveit.ros.org/wiki/Installation to install MoveIt on a laptop running openSUSE 12.3. Because rosdep does not work on my system and there isn't a fix for it yet, I've been handling dependencies manually. Generally that hsa worked well, but I have hit a hard stop with the Flexible Collision Library (FCL). It seems that the latest edition of the librar

[2013-08-06 14:11] quan1992 opened #84 "return points and normal of closest distance from collision detection"
As far as I know, I can get the distance between world object and any part of pr2 link through moveit API of collision detection. And I am really interested in the coordinates of pair of points that makes that shortest distance happen. However, it seems moveit API is not able to return that information. Is it possible to do that?

[2013-09-10 07:29] davetcoleman opened #87 "getLinkState() from robot_state issue"
In the Rviz plugin, using the interactive markers, the end effector of Baxter is being rendered incorrectly with its links in the wrong position. I have also ran into this issue in some of my custom code. I have tracked it down to the `getRobotMarkers()` function in robot_state.cpp so I am positing this issue in moveit_core. Perhaps the issue is in the function `getLinkState()` - what is a link's

[2013-09-10 12:12] isucan commented on #80
Hey @teddybouch, sorry for the very late reply. Indeed FCL is a so-called 'third-party lib'. The idea is that it can be packaged in multiple ways and installed on different systems, not necessarily in a ROS context. We do however build debs for FCL, and although not a ros package, the lib provides a .cmake file so it can be found with find_package. So, if you install FCL in some way first, moveit

[2013-09-10 12:12] #80 closed, assigned to nobody

[2013-09-10 12:48] isucan commented on #87
I was worries the code was not using updated transforms, but things seem to be fine. If there are no joint states published, a default transform is used  (as computed by RobotState::setToDefaultValues())

[2013-09-10 17:35] davetcoleman commented on #87
I'm not sure what you are saying - I am still having the issue pictures above where the green fingers are "floating" in the wrong position, when they should be attached to the end effector. I'm having this issue both with the current debs release and the latest source build.

Since I am not publishing joint states, it will assume some default value - usually 0, correct? Even if it assumed the join

[2013-09-11 17:28] JeremyZoss opened #88 "VariableBounds is uninitialized?"
I noticed some VERY slow planning in some of my newly-created moveit packages.  The debug logs showed some odd timing (note the 30-sec delay):

[code]

I tracked down a config-related issue in my setup-assistant-generated joint_limits.yaml file.  The auto-created file included the following settings for each joint:

[code]

When I set `has_acceleration_limits: false`, planning worked as expected.

[2013-09-12 18:17] davetcoleman commented on #87
As we discussed via chat, does this really fix the issue I was experiencing? I think we agreed that the bug is in `global_link_transforms_[lm->getLinkIndex()]`, though I'm not using this latest version of MoveIt!

[2013-09-12 18:19] isucan commented on #87
Not properly fixed indeed. Will fix properly :)

[2013-09-12 18:58] #87 closed, assigned to nobody

[2013-09-17 12:31] riQQ opened #89 "Segmentation faults in RobotState and in JointModelGroup"
Hey,
i'm getting segfaults when objects are destroyed. I'm using ros groovy installed via .debs. I compiled the moveit libs with debug flags to get a proper bracktrace. The used sources are the same version as the libs from the installed packages. And i'm getting segfaults using the packaged versions as well as using the ones i compiled from source.

[code]

[code]

[2013-09-17 13:54] isucan commented on #89
Do you have an example code bit that I could run to replicate this?

[2013-09-17 14:16] riQQ commented on #89
This segfaults, when i close the program with ctrl+c (example code for the second segfault). It only occurs, when the RobotModelLoader has loaded the model successfully. If i comment out the line: "m_robot_state.reset(new robot_state::RobotState(m_robot_model));", the segfault doesn't occur.

[code]

[code]

[code]

Run the launch file from above and then run segfault_test and hit ctrl+c.

[2013-09-18 21:07] isucan commented on #89
Thank you, I will try to take a look at this. Honestly though, this is a bit lower priority since the state representation was rewritten in ROS hydro.

[2013-09-19 07:09] isucan commented on #88
You care correct about the structures if they are interpreted as POD. But VariableBounds has a constructor defined, so it is basically a class with members defaulting to public (not POD).
I think this got fixed, but the issue was probably a conversion between messages and VariableBounds which made acceleration limits uninitialized.

[2013-09-19 07:09] #88 closed, assigned to nobody

[2013-09-19 07:09] isucan commented on #77
fixed

[2013-09-19 07:09] #77 closed, assigned to nobody

[2013-09-19 07:10] isucan commented on #75
fixed

[2013-09-19 07:10] #75 closed, assigned to nobody

[2013-09-19 07:10] isucan commented on #69
added in Hydro as a feature. Still some issues, but fixing those separately.

[2013-09-19 07:10] #69 closed, assigned to isucan

[2013-10-03 04:18] davetcoleman opened #90 "Help with compiling on Travis"
I've started using Travis with my Baxter code and I'd like to have it able to compile MoveIt from source. I've tried may times but internal compiler errors always occur - from my research it seems gcc is perhaps running out of memory on the free Travis boxes. But I'm not sure. Any advice is welcome:

https://travis-ci.org/davetcoleman/moveit_core/builds/12080425

@jbohren you are the expert who go

[2013-10-11 00:41] k-okada opened #93 "workspace parameter does not influences planning for rotational joints"
Currently the workspace parameter only influences planning for planar & floating joints. So, the workspace definition does not affect the position of links that are moved by other types of joints (like in the case you display). Unfortunately, this is a missing feature.

https://groups.google.com/forum/?hl=ja#!topic/moveit-users/_11FJ4hVEJg

[2013-10-16 07:27] anefg opened #94 "Problems getting joint_states"
Every time I try to recover the joint states of my simulated arm using the method getVariableValues()  I always get the same joint state position: 0.0, although the joints are moved.

Thanks.

[2013-10-16 08:06] isucan commented on #94
What object are you calling getVariableValues() on? How is that object initialized? What topic are joint states published on?

[2013-10-16 09:34] anefg commented on #94
I'm calling getVariableValues on JointStateGroup object and yes, the joint states are being published on /join_states topic.

This is the code that I'm using:

/\* Get the configuration for the joints robotnik arm_/
  robot_state::JointStateGroup_ joint_state_group = kinematic_state->getJointStateGroup("robotnik_arm");

  /\* Get the joint states for the right arm*/
  std::vector<double> joint_val

[2013-10-16 10:21] isucan commented on #94
RobotState is a data structure for holding a robot state, not necessarily populating it. You need to use a CurrentStateMonitor class, or define a PlanningSceneMonitor, or use the move_group_interface, depending on what else you need to do.
http://moveit.ros.org/doxygen/classplanning__scene__monitor_1_1CurrentStateMonitor.html
http://moveit.ros.org/doxygen/classplanning__scene__monitor_1_1PlanningS

[2013-10-16 10:21] #94 closed, assigned to nobody

[2013-10-16 12:35] anefg commented on #94
I have loaded the model of the robot and populated the RobotState structure. I have created an instance of MoveGroup object to be able to move it.

The code that I'm executing is:

 /\* Load the robot model */
  robot_model_loader::RobotModelLoader robot_model_loader("robot_description");

  /\* Get a shared pointer to the model */
  robot_model::RobotModelPtr kinematic_model = robot_model_loader.

[2013-10-17 09:24] isucan opened #95 "constraints cannot be defined for links that are fixed to the tip"
see this discussion for details:
https://groups.google.com/forum/#!topic/moveit-users/gVWEXqcqHfY

[2013-10-17 09:25] isucan commented on #89
Unfortunately I will not have the time to work on the groovy version of RobotState. Please reopen if anyone plans to work on this.

[2013-10-17 09:25] #89 closed, assigned to nobody

[2013-10-17 09:27] #95 closed, assigned to nobody

[2013-10-21 01:57] davetcoleman commented on #93
To implement this, would we need to add another constraint sampler that always checked that all collision bodies are inside the bounding box of the workspace? Should the workspace bounding box just be implemented as collision bodies for the collision checker to handle?

[2013-10-21 15:15] isucan commented on #93
This would have to be checked for every test for validity of a state, so efficiency is very important. The way I would do this is to check that the links we are moving have the origin of their reference frame within the defined workspace (always as a box), so this will be just a for loop and comparisons. There should be a flag for undefined workspace though. Right now we just have a planning reque

[2013-10-21 18:20] davetcoleman commented on #93
does this mean a planner could plan a motion that has part of a link go outside of the workspace, so long as its origin does not? that seems like maybe undesired behavior. i was hoping to use this workspace parameter as a way to keep my robot from hitting walls around it. is that not a good use of this functionality?

[2013-10-21 18:23] isucan commented on #93
you are correct. In that case, I would use a slightly smaller bounding box. We can also implement the workspace as walls that get added to FCL, which would give the functionality you mention, but will potentially be slightly slower.

[2013-10-21 18:36] davetcoleman commented on #93
Interesting trade off. I think we need to pick a definition of the workspace... if its a "planning workspace" I think not implementing it in the collision checking components might be correct, but if its a "execution workspace" or something, then we need it to always respect those boundaries in all cases. Does that sound right?

[2013-10-23 14:11] anefg opened #96 "Problem getting robot joint state"
Every time I try to recover the joint states of my simulated arm using the method getVariableValues() I always get the same joint state position: 0.0, although the joints are moved.

I have loaded the model of the robot and populated the RobotState structure. I have also created an instance of MoveGroup object to be able to move it but it doesn't work.

The code that I'm executing is:

/\* Load th

[2013-10-23 17:13] isucan commented on #96
This is a duplicate of #94
Please see the suggestions there. In particular, please also use
http://moveit.ros.org/doxygen/classplanning__scene__monitor_1_1PlanningSceneMonitor.html

[2013-10-23 17:13] #96 closed, assigned to nobody

[2013-10-24 09:23] anefg commented on #94
I know that issue #96 was duplicated, but #94 was closed and I still had the problem. That's why I decided to create a new one.

So, it's necesary to have a planing scene created to get the updated joints state from the robot model?

Thanks

[2013-10-25 15:38] YoheiKakiuchi opened #97 "IK parameter for weighting joints"
I need a weight parameter for each joint.
Because joint near the root link such as joints in torso moved too much,
and that is not good for a biped humanoid robot.

Joint weights should be set at kinematics.yaml or PositionIKRequest.msg

[2013-10-25 17:35] YoheiKakiuchi opened #98 "IK including virtual joint"
Now, virtual joint can not be used in IK.
Then,  virtual linear and rotational joints automatically could be added to KDL joint group.

[2013-10-28 09:48] anefg commented on #94
I have created an instance of PlanningSceneMonitor, but I still got 0.0 as joints pose. Which are the steps that I should follow to recover joints poses without been subscribed to joint_state topic?

[2013-10-29 08:34] isucan commented on #94
If you call startStateMonitor() on the PlanningSceneMonitor then you can use getCurrentState() and get the current robot state.

[2013-10-29 15:17] JMLambert opened #99 "Distance to collision normal vector"
When checking for collision using Collision Result, the distance to nearest collision is provided as information. However, the normal vector along that distance is not available. This would be valuable information in detecting collisions prior to their occurence.

[2013-10-30 02:57] bit-pirate opened #100 "[trajectory processing] glitches in time parameterisation"
Quite often motion plans executed on my robot look like getting stuck at some points in time. The robot slows down so much, that it looks like it has aborted the execution.

Looking further into this, I got the impression that the time parameterisation is not working correctly.

Here is one example trajectory output from move_group:

[code]

While for most way points the nominal rates fit the posi

[2013-10-30 15:37] hersh commented on #90
If it's running out of memory, you should limit it to compiling only one file at a time instead of the default parallel jobs that catkin_make uses.  Instead of `catkin_make`, try `catkin_make -j1` to limit it to a single process.

[2013-10-30 15:39] hersh commented on #84
This is related to #99 which also wants to get more information back from the collision detection.  This feature would give a superset of the info requested in #99 (normal vector).

[2013-10-30 16:06] dkotfis opened #101 "Use of special characters in RobotModelLoader"
Robot Model Loader currently throws an Invalid Name Exception loading joint limits for URDF/SRDF models with link or joint names using characters other than a-z, A-Z, 0-9, and _. The iRobot Hand URDF has joints using '[' and ']' characters, so it would be great if the loader supported them since other functions like Gazebo support them.

[2013-10-30 16:12] isucan commented on #101
This is actually a limitation of the character set supported by the yaml format, so we cannot really fix this easily in moveit.

[2013-10-30 16:12] #101 closed, assigned to nobody

[2013-10-30 19:19] davetcoleman commented on #90
Ah I forgot this ticket was still open - I've resolved it by using `-j2`. By default the virtual boxes appear to catkin to have 32 cores available when it doesn't actually, so you have to specify a `-j` value. But `-j1` is too slow for the 50 minute compile time limit.

[2013-10-30 19:19] #90 closed, assigned to nobody

[2013-11-02 11:16] k-okada commented on #97
code is here, should we move this ticket to moveit_ros?

https://github.com/ros-planning/moveit_ros/blob/groovy-devel/planning/kdl_kinematics_plugin/src/chainiksolver_vel_pinv_mimic.cpp

[2013-11-02 11:18] k-okada commented on #97
memo

maybe we can use sr-inverse, and compute weight from joint limit.

http://sourceforge.net/p/jskeus/code/HEAD/tree/trunk/irteus/irtmodel.l

[2013-11-02 12:37] isucan commented on #97
probably this should be moved to moveit_ros, yes.

[2013-11-02 16:50] k-okada commented on #97
move to -> https://github.com/ros-planning/moveit_ros/issues/358,
I think we  can close this ticket.

[2013-11-03 12:45] #97 closed, assigned to nobody

[2013-11-05 11:36] liborw opened #104 "Add Python interface for RobotState class"

[2013-11-05 15:53] anefg commented on #94
Using the PlanningSceneMonitor I recover the current robot state. However I don't understand, the reason why I'm not able to get the current joint state values using the getVariableValues(). Is using the PlanningSceneMonitor the only wayto get it?

[2013-11-12 01:10] sachinchitta opened #107 "Test Broken: distance_field TestSignedPropagationDistanceField.TestOcTree"
/home/schitta/code/moveit/src/moveit_core/distance_field/test/test_distance_field.cpp:791: Failure
Value of: checkOctomapVersusDistanceField(df, tree)
  Actual: false
Expected: true
No point at potential boundary query 0 0.54 0
/home/schitta/code/moveit/src/moveit_core/distance_field/test/test_distance_field.cpp:803: Failure
Value of: checkOctomapVersusDistanceField(df, tree)
  Actual: false
Expec

[2013-11-12 01:12] sachinchitta opened #108 "Test Broken: fcl FclCollisionDetectionTester.LinksInCollision"
/home/schitta/code/moveit/src/moveit_core/collision_detection_fcl/test/test_fcl_collision_detection.cpp:176: Failure
Value of: res3.collision
  Actual: false
Expected: true
[  FAILED  ] FclCollisionDetectionTester.LinksInCollision (755 ms)

[2013-11-12 01:12] sachinchitta opened #109 "Test Broken: FclCollisionDetectionTester.ContactReporting"
/home/schitta/code/moveit/src/moveit_core/collision_detection_fcl/test/test_fcl_collision_detection.cpp:217: Failure
Value of: 2
Expected: res.contacts.size()
Which is: 1
[  FAILED  ] FclCollisionDetectionTester.ContactReporting (779 ms)

[2013-11-12 01:13] sachinchitta opened #110 "Test Broken: fcl FclCollisionDetectionTester.ContactPositions"
/home/schitta/code/moveit/src/moveit_core/collision_detection_fcl/test/test_fcl_collision_detection.cpp:257: Failure
Value of: res.collision
  Actual: false
Expected: true
[  FAILED  ] FclCollisionDetectionTester.ContactPositions (753 ms)

[2013-11-12 01:13] sachinchitta opened #111 "Test Broken: AttachedBodyTester"
/home/schitta/code/moveit/src/moveit_core/collision_detection_fcl/test/test_fcl_collision_detection.cpp:320: Failure
Value of: res.collision
  Actual: false
Expected: true
[  FAILED  ] FclCollisionDetectionTester.AttachedBodyTester (759 ms)

[2013-11-12 01:14] sachinchitta opened #112 "Test Broken: PositionConstraintsFixed"
Error:   Link '' not found in model 'pr2'
         at line 1083 in /home/schitta/code/moveit/src/moveit_core/robot_model/src/robot_model.cpp
Warning: Position constraint link model  not found in kinematic model.  Constraint invalid.
         at line 278 in /home/schitta/code/moveit/src/moveit_core/kinematic_constraints/src/kinematic_constraint.cpp
Warning: No frame specified for position constrain

[2013-11-12 01:15] sachinchitta opened #113 "Test Broken: kinematic_constraints PositionConstraintsMobile"
/home/schitta/code/moveit/src/moveit_core/kinematic_constraints/test/test_constraints.cpp:486: Failure
Value of: pc.decide(ks).satisfied
  Actual: false
Expected: true
/home/schitta/code/moveit/src/moveit_core/kinematic_constraints/test/test_constraints.cpp:498: Failure
Value of: pc.decide(ks).satisfied
  Actual: false
Expected: true
/home/schitta/code/moveit/src/moveit_core/kinematic_constraints/

[2013-11-12 01:15] sachinchitta opened #114 "Test Broken: kinematic_constraints OrientationConstraintsSimple"
Error:   Link '' not found in model 'pr2'
         at line 1083 in /home/schitta/code/moveit/src/moveit_core/robot_model/src/robot_model.cpp
Warning: Could not find link model for link name
         at line 501 in /home/schitta/code/moveit/src/moveit_core/kinematic_constraints/src/kinematic_constraint.cpp
Warning: Orientation constraint for link 'r_wrist_roll_link' is probably incorrect: 0.000000,

[2013-11-12 01:16] sachinchitta opened #115 "Test Broken: kinematic_constraints VisibilityConstraintsSimple"
/home/schitta/code/moveit/src/moveit_core/kinematic_constraints/test/test_constraints.cpp:704: Failure
Value of: vc.decide(ks, true).satisfied
  Actual: false
Expected: true
/home/schitta/code/moveit/src/moveit_core/kinematic_constraints/test/test_constraints.cpp:710: Failure
Value of: vc.decide(ks, true).satisfied
  Actual: false
Expected: true
[  FAILED  ] LoadPlanningModelsPr2.VisibilityConstra

[2013-11-12 01:17] sachinchitta opened #116 "Test Broken: planning_scene LoadRestoreDiff"
/home/schitta/code/moveit/src/moveit_core/planning_scene/test/test_planning_scene.cpp:82: Failure
Value of: planning_scene::PlanningScene::isEmpty(ps_msg)
  Actual: false
Expected: true
[  FAILED  ] PlanningScene.LoadRestoreDiff (747 ms)

[2013-11-12 01:19] sachinchitta opened #117 "Test Broken: constraint_samplers"
**\* glibc detected **\* /home/schitta/code/moveit/devel/lib/moveit_core/test_constraint_samplers: invalid fastbin entry (free): 0x0000000002b2df60 ***

[2013-11-15 13:11] End-Effector opened #119 "MoveIT! site down?"
Hello friends!

Anyone knows when the site will be up?

thx so much!

[2013-11-15 14:07] sachinchitta commented on #119
Thanks for letting us know - we are looking into it right now.

[2013-11-15 15:39] isucan commented on #119
fixed

[2013-11-15 15:39] #119 closed, assigned to nobody

[2013-11-19 08:51] vrabaud opened #120 "maintainers' email is not valid anymore"

[2013-11-25 21:57] acornacorn commented on #32
This is more or less implemented now.  Closing.

[2013-11-25 21:57] #32 closed, assigned to isucan

[2013-11-25 22:10] acornacorn commented on #35
Is this issue complete?  Can I close it?

[2013-11-25 22:18] acornacorn commented on #99
duplicate of #84

[2013-11-25 22:18] #99 closed, assigned to nobody

[2013-11-25 22:25] acornacorn commented on #98
Virtual joint is intended to connect the robot to the world.  If the first (base) joint in your robot is a linear or rotational joint then it can be added to the URDF as a real physical joint.  Then you can use a fixed joint to connect this joint to the world.  That will allow you to add the (physica) linear or rotational joint to the group and use ith with IK.

If I misunderstood your question pl

[2013-11-25 22:25] #98 closed, assigned to nobody

[2013-11-25 22:28] acornacorn commented on #104
How would this be used?

[2013-11-25 22:29] acornacorn commented on #107
fixed

[2013-11-25 22:29] #107 closed, assigned to nobody

[2013-11-26 01:47] acornacorn commented on #120
Fixed

[2013-11-26 01:47] #120 closed, assigned to nobody

[2013-11-26 05:23] isucan commented on #35
This has been done for a while now, but I forgot to close it.

[2013-11-26 05:23] #35 closed, assigned to adamantivm

[2013-11-26 05:24] isucan commented on #104
We need this in the Python bindings to better operate with states. This can help with FK, IK, attached objects.

[2013-12-18 21:22] hersh opened #129 "Should be possible to designate a different root link for planning purposes."
A URDF file has a fixed idea of which link is the root link.  This limits the planning you can do, since the link closest (graph-wise) to the root link in a planning group is assumed to be fixed during the motion.  However in case of a humanoid for example, the URDF root may be a link in the torso, making it difficult to make a full-body plan for coordinated arm and leg motion, for instance to pic

[2013-12-18 21:54] isucan commented on #129
This actually used to be implemented for the Groovy version of MoveIt. Having a setRoot() function for the kinematic model is pretty complicated as that changes the model, and the model is assumed to be constant throughout the system. What I did was to add a re-parenting option for the model at construction time. This means you could pick an arbitrary link in the model and construct it from the UR

[2013-12-18 22:39] hersh commented on #129
I'm glad to see some effort was put in towards this type of issue, but I'm not convinced yet that it would really solve the problem I'm looking at.

I would like the planner to decide how much to bend the knees, for instance.  So I would like to be able to say something like "keeping the feet in their current poses relative to the ground, compute joint values for the legs, torso, and right arm suc

[2014-01-23 12:15] e1000i commented on #93
So, how is finally used, and on what have incidence the definition of a workspace? It only restricts the movement search space for planar and flotating joints? Using prismatic or any other joint type while defining a workspace has not direct effect in the planing and the execution. Is that right? That should not be stated explicitly somewhere in the documentation?

[2014-01-28 02:07] moicez opened #141 "Feature request: Add better functionality for adding Time Parametrization to a Cartesian Trajectory"
In the case where computeCartesianPath is used, in many cases it is necessary to add Time Parametrization to the trajectory output.

Here is an example of how to add Time Parametrization currently:
group.computeCartesianPath(waypoints,  0.01,  // eef_step, 0.0, trajectory_msg, false);
robot_trajectory::RobotTrajectory rt(group.getCurrentState()->getRobotModel(), "arm_gp");
  rt.setRobotTrajectoryM

[2014-02-08 04:30] davetcoleman opened #143 "Branch for indigo, cleanup old branches?"
What are the plans with the SRI team for future development? I'm making some changes that that might break ABI compatibility (I'm not sure - I'm just adding new functions to header files), but I think it might be best to commit them to an "indigo-devel" branch. Thoughts?

Also, looking the moveit repos, there seems to be far to many old branches. I'd suggest everyone claim the ones that are still

[2014-02-08 19:15] isucan commented on #143
Hey Dave,

I think we should branch for indigo indeed, but as long as you won't break API, I think you are fine with hydro for now. In terms of branches, unless other anyone has objections, I propose we delete all but the <rosdistro>-devel branches.

[2014-02-21 07:28] adnanmunawar opened #150 "Use of Eigen in MoveIt"
Whenever I compile even a simple piece of code in ros I get the error
Eigen/Geometry: No such file or directory and/or
Eigen/Core : No such file or directory.

The simplest code that I have written thus far is
# include <ros/ros.h>
# include <moveit/move_group_interface/move_group.h>
# include <moveit/planning_scene_interface/planning_scene_interface.h>
# include <ros/ros.h>
# include <moveit_msgs

[2014-02-26 05:15] davetcoleman commented on #143
I have just deleted the following 22 merged branches and 3 really out of date unmerged branches... I copy-pasted that list (unformatted) below for record.

[code]

Unmerged branches:

[code]

[2014-02-26 05:16] davetcoleman commented on #143
@hersh what is the status of this 4 month year old [robot-state-mutable](https://github.com/ros-planning/moveit_core/tree/robot-state-mutable) branch?

[2014-02-27 04:50] davetcoleman commented on #150
Perhaps try building MoveIt from source and diagnosis the problems closer to the root?
This seems like an Eigen installation problem?

[2014-02-27 05:00] davetcoleman opened #153 "Why does kinematic_base have both getPositionIK and searchPositionIK"
Why does the plugin interface in MoveIt for inverse kinematics need both a `get` and `search` method for getting IK solutions in `kinematic_base`? Is it just some legacy function headers? It seems to me it shouldn't matter how the IK solver finds a solution under the hood. Should one of them be deprecated?

Particularly, MoveIt never uses the `getPositionIK` function anywhere in its code base apar

[2014-02-27 05:14] davetcoleman commented on #153
Also, while I'm at it, are there many uses cases for `getPositionFK` anymore? MoveIt performs FK internally, correct? Its pretty trivial.

[2014-02-27 07:29] isucan commented on #143
Could you also delete pick_place_traj, new_robot_state and pick_place (from
the unmerged branches)?
Thanks!

On Tue, Feb 25, 2014 at 9:16 PM, Dave Coleman notifications@github.comwrote:

[2014-02-27 07:31] davetcoleman commented on #143
I already deleted them.

[2014-02-27 21:17] hersh commented on #143
I deleted robot-state-mutable, it was indeed a dead-end.

[2014-02-28 01:22] davetcoleman commented on #143
Thanks, moveit_core is clean now of branches!

[2014-02-28 01:22] #143 closed, assigned to nobody

[2014-02-28 06:14] #150 closed, assigned to nobody

[2014-03-01 23:44] sachinchitta opened #158 "enable proper collision checking for objects attached to links without geometry"
Currently, links without geometry are left out of the updated links vector for a joint group. This also implies that objects attached to these links will not be part of collision checking for that group - this needs to be fixed.

[2014-03-19 01:08] sachinchitta commented on #153
The usecase for getPositionIK is different from that for searchPositionIK. The search was intended to allow a search through the redundancy for a solution while the getPositionIK is not supposed to do that. Even though MoveIt! itself is not using the getPositionIK function call, there are other places where we are using it (with custom IK solvers). Also, there might be places in MoveIt! where getP

[2014-03-19 04:11] davetcoleman commented on #153
I understand there are analytical and numerical methods to IK, but it seems like in practice there is no difference between these two functions in this plugin. `searchPositionIK` does not allow redundant/multiple solutions to be returned, so is in practice no different that getPositionIK. Am I mistaken?

Agreed, it's definitely a larger discussion.

[2014-03-19 04:16] davetcoleman opened #161 "Improve KinematicsBase API"
The KinematicsBase API plugin interface is in need for a complete overhaul in order to improve performance and reduce function heading duplication. The changes I've made in https://github.com/ros-planning/moveit_core/pull/149 have made this very apparent, and I've heard some others with similar thoughts. I think we could still do this while maintaining backwards compatibility.

**Improvements**
-

[2014-03-19 04:17] davetcoleman commented on #153
Moved to https://github.com/ros-planning/moveit_core/issues/161

[2014-03-19 04:17] #153 closed, assigned to nobody

[2014-04-22 20:36] hersh opened #165 "PlanningScene constructor should take a RobotModelConstPtr."
Currently it needs a RobotModelPtr instead of a RobotModelConstPtr.  Internally it assigns it to a RobotModelConstPtr member variable anyway, so the change should not affect anything.  Anything other than allowing me to remove the ugly boost::const_pointer_castmoveit::core::RobotModel() calls in my code, that is.

I should probably fix this myself, but I don't feel like it right now.  Leaving the

[2014-05-01 08:56] adolfo-rt opened #167 "Path time parameterization yields non-smooth time evolution"
There's been some discussion on the list on the subject of motion plans being less smooth than expected (c.f. [Planning directed path plans](https://groups.google.com/forum/#!msg/moveit-users/_C8ysk6vURg/jL4mrVITU14J) thread). So far the discussion has revolved around **path simplification**, i.e., paths not being shorter or more direct, and I believe there is definitely room for improvement in th

[2014-05-02 17:38] dirk-thomas opened #169 "fails to export Eigen dependency correctly"
Downstream packages using `moveit_core` seem tp not work correctly since this package does not export the Eigen include directories correctly.

Clearly the eigen include directories must be exported since the public headers rely on Eigen: https://github.com/ros-planning/moveit_core/blob/hydro-devel/robot_model/include/moveit/robot_model/joint_model.h#L47

While its trying to do so it fails to expo

[2014-05-02 17:51] dirk-thomas commented on #169
I forgot that Eigen actually defines both variables - camel case as well as uppercase.

I will continue with the user on answers to figure out what is wrong for him.
Sorry for the noise.

[2014-05-02 17:51] #169 closed, assigned to nobody

[2014-05-15 17:37] hersh commented on #161
I'm looking into this now.

I have a question for @isucan and any others who mess with IK solvers a bunch.  kinematics_plugin_loader.cpp seems to support having a list of solver classes for each group.  Why?  Is that important?  Looking at the code, it just uses the first one which loads successfully.

kinematics_plugin_loader.cpp also has a constructor that takes a solver plugin class name as an

[2014-05-15 17:46] isucan commented on #161
Neither of these bits of functionality are essential. Especially the multiple IK solvers for a group, we never used that. May assumption was that we might have different solvers with different abilities. For example, some that solve only for x,y,z, some that solve for the full pose. While this would be perhaps useful at some point, I think we can remove this functionality until we reach that point

[2014-05-15 19:11] acornacorn commented on #161
I think if we need multiple solvers for a particular group we can just create multiple groups with the same joints (but different solvers).  So eliminating multiple solvers per group should be fine.

I agree having the kinematics solver loading be optional is not useful and having it be optional has cause problems for me.  For example I generally want to share a single (const) RobotModel instance

[2014-05-15 20:15] davetcoleman commented on #161
I actually tried using the RobotModelLoader last week with the option of not loading the KinematicSolvers since I did not need them for a particular component and because, when you do load them, a URDF is parsed for _every_ joint model group that uses an ik solver. This is a lot of overhead if you have ~5 joint model groups and many different components that need the RobotModel but that can't shar

[2014-06-10 09:20] davetcoleman commented on #167
Hi Adolfo, sorry for the late reply.

This is a very much needed improvement for MoveIt! from my experience as well. The current implementation of trajectory processing, as I have heard from some of the other developers as well, is pretty bad.

There was an attempt to integrate Reflexxes library [here](https://github.com/ros-planning/moveit_ros/blob/hydro-devel/planning/planning_request_adapter_pl

[2014-06-26 22:53] tfoote opened #176 "release indigo branch"
I've created an indigo-devel branch with the patches necessary for supporting Saucy and Trusty re: https://github.com/ros/rosdistro/issues/4633

Please release this into indigo.

[2014-06-27 02:05] davetcoleman commented on #176
This is unfortunate because it has previously been announced there would not be an indigo branch
https://groups.google.com/forum/#!searchin/moveit-users/indigo$20branch/moveit-users/0NuSq8_TgLE/uU8k5gKCHAkJ

[2014-06-27 03:34] tfoote commented on #176
They do not need to diverge and can remain API compatible. The users don't
need to know anything is different to use it. If you really want a single
branch you can also play games with patching the files in the gbp stage.
 However I suggest that doing the simplest thing and maintain the parallel
branches will be the least work in the long run as it will lead to the
fewest complications.  If you pl

[2014-06-27 03:51] tfoote commented on #176
Thinking about it another possibility is for moveit to provide it's own redirecting package which diverges and expose the same interface so moveit itself does not need to diverge. If this approach is chosen please keep it namespaced and clearly documented that this should not be a general dependency going forward but is a shim for moveit to avoid branching.

[2014-06-27 16:02] acornacorn commented on #176
I think we want to go with the 2 branches method that it looks like Tully set up already.  Maintaining 2 branches is a pain, but hopefully we will be able to keep them pretty close together so the same changes can be applied to both branches.  We still plan to continue our main development in hydro, but these developments should also work in Indigo.

I tried building moveit for Indigo on Ubuntu 14

[2014-06-27 17:23] mikeferguson commented on #176
@acornacorn The hydro-devel branch was already up to date for indigo (I've been running under indigo for some time now) and this indigo-devel branch is just forked from hydro-devel, should be fine in indigo

[2014-07-01 03:44] #176 closed, assigned to nobody

[2014-07-16 18:02] dirk-thomas opened #181 "Failing devel job breaks other prereleases"
Your devel job (http://jenkins.ros.org/job/devel-indigo-moveit_core/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/2/console) is failing due to wrong / incomplete CMake.

This also effects other package since it breaks prereleases as well, e.g.: http://jenkins.ros.org/job/prerelease-indigo-orocos_kinematics_dynamics/2/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=prerelease/console

Please fix the

[2014-07-18 04:28] davetcoleman commented on #181
Looks like the package `angles` needs to be added to `find_package(catkin REQUIRED COMPONENTS)`? Currently its only `find_package(angles)` [here](https://github.com/ros-planning/moveit_core/blob/hydro-devel/CMakeLists.txt#L31)

Problem:

[2014-07-18 04:35] k-okada commented on #181
I'm not sure, but you need to add agnles to `build_depend` if other build_depend package did not depends on angles
https://github.com/ros-planning/moveit_core/blob/hydro-devel/package.xml

;; from the next room...

[2014-07-31 23:24] davetcoleman commented on #181
I think this was fixed, above

[2014-07-31 23:49] dirk-thomas commented on #181
The referenced patch in #190 looks pretty wrong to me.

[2014-08-01 03:14] davetcoleman commented on #181
New fix attempted.

[2014-08-01 15:16] dirk-thomas commented on #181
This is still not fixed. The problem describes indigo but the correct patch was applied to hydro only (I did not even check if it was broken on hydro). But indigo still only contains the incomplete PR.

[2014-08-11 14:17] garbage98 opened #197 "First steps: c++ tutorial is working, python not!"
Hi,

I am walking through this tutorial (http://docs.ros.org/hydro/api/pr2_moveit_tutorials/html/planning/scripts/doc/move_group_python_interface_tutorial.html). Unfortunately when using the tutorial the predefined tutorial example launch file (roslaunch pr2_moveit_tutorials move_group_python_interface_tutorial.launch) Rviz is launched correctly and the PR2 is shown. Unfortunately there is no move

[2014-09-09 14:35] skohlbr commented on #167
We recently also noticed that there are pretty big variations (very visible when looking at accelerations computed by the ros_control JointTrajectoryController). Does anybody know why the development of the Reflexxes-based time parametrization stopped? I´d especially like to know if there are some major obstacles, or if it could be made to work with reasonable effort.

[2014-09-18 01:18] davetcoleman commented on #167
I believe it would work, it just was never finished. It would be a big improvement.

[2014-09-26 16:13] adolfo-rt commented on #167
There are two sides of the coin here.
1. MoveIt's time parameterization should yield cleaner trajectories. If it did so, the underlying controller should have no problem realizing the sent command.
2. Implement a variant of `joint_trajectory_controller` where the trajectory segment representation and interpolation leverages Reflexxes' type II library. If you want to discuss this approach in more d

[2014-10-09 22:00] hersh opened #202 "Collision checking ignores some collada meshes."
I have worked around this for the time being by converting to .stl collision meshes, but when I use collision checking with the UR5 model from http://github.com/ros-industrial/universal_robot, it would see no problem with poking the arm through a table, as long as the elbow was sticking out far enough past the far side:

[code]

I think there may be a problem with scales or orientations or somethi

[2014-10-14 19:23] #113 closed, assigned to nobody

[2014-10-29 03:29] skohlbr commented on #167
Ok, I looked into Reflexxes a little more and it appears that the main difficulty is that, while it provides the capability to generate instantaneous controls for a trajectory segment given current and target state, it does not provide the capability to perform time parametrization. In the commented out code in [add_time_parametrization.cpp](https://github.com/ros-planning/moveit_ros/blob/5fe11e2c

[2014-10-29 08:38] adolfo-rt commented on #167
@skohlbr, I'm not sure I understand your comment. Why does time parametrization depend on the boundary conditions, like waypoint velocity?. My understanding is that Reflexxes would compute the shortest-time trajectory to reach the desired boundary conditions, without violating specified limits. For multi-dof trajectories, the time synchronization capability would be used, to make sure all joints r

[2014-10-29 12:59] skohlbr commented on #167
@adolfo-rt Ok, the "it does not provide the capability to perform time parametrization" comment was indeed misleading/wrong. Reflexxes allows computing a shortest time trajectory to reach desired boundary conditions, but those have to already be defined. The main problem is the velocity in the target configuration. This is just set to zero in the currently commented out code in add_time_parametriz

[2014-10-29 14:20] adolfo-rt commented on #167
Ah, yes, I get your point. Reflexxes is meant to be used to reach a predefined goal, but it does not lend itself to optimize the timing of a whole trajectory. Is this what you mean?. @isucan, any additional thoughts that might be relevant here?.

An alternative would then be to implement option 2. of this [comment](https://github.com/ros-planning/moveit_core/issues/167#issuecomment-56983235). If R

[2014-10-29 14:41] suhshinhwang commented on #80
Hi,
I am also having the same problem. I'm on ROS Groovy and am trying to compile MoveIt (Groovy-Devel) from scratch. I removed OctoMap and FCL that came with ROS-Groovy to do some testing. When I run catkin_make in the MoveIt folder, the octomap dependencies work okay, but not the FCL. I run into the same problem as teddybouch

[2014-10-29 18:35] sachinchitta commented on #167
We had tried to figure out how Reflexxes would integrate for this but, as @skohlbr mentioned, it does not compute velocities and accelerations for intermediate waypoints, so its not the best fit for this case. Option 2 that you mention will only process each segment of the trajectory generated from MoveIt! - so if the initial trajectory is already not looking good, it won't really help since you a

[2014-10-29 20:38] dcconner commented on #167
I took a stab at recalculating the velocities and accelerations to make them consistent with piecewise cubic splines (as test before looking to quintics used by JointTrajectoryControllers).   First I run the current AddTimeParameterization MoveIt plugin to get the piecewise linear segments within velocity/acceleration limits, then do a smoothing step by recalculating the interior velocity and acce

[2014-10-30 01:59] dcconner commented on #167
1) Back to @adolfo-rt original comment.  Since MoveIt! is not using quintic splines under the hood, the quintic coefficients calculated by ros_controllers are not consistent with the piecewise linear segments assumed by the AddTimeParameterization.  I tried recalculating the interior velocities and accelerations with a mod to the AddTimeParameterization plugin; this gives "smooth" but still undesi

[2014-10-30 03:00] davetcoleman commented on #167
+1 Thanks for looking into this!

[2014-10-30 08:36] adolfo-rt commented on #167
@sachinchitta

Option 2 is orthogonal to MoveIt!. It would be a mechanism to enforce joint limits at the `joint_trajectory_controller` level. So yes, it will not help making MoveIt!'s output better, but it would do a better job at filtering out extreme velocities or accelerations (or jerks, depending on the Reflexxes version).

@dcconner
The [`IterativeParabolicTimeParameterization`](https://githu

[2014-11-23 10:31] mikeferguson commented on #181
@dirk-thomas the devel job is now running but unstable, is that enough for this ticket?

(there are individual tickets already covering the tests that are (still) failing)

[2014-11-23 17:54] dirk-thomas commented on #181
Yes, this was all about the compile-from-source failing other downstream packages. The maintainers can handle the test failures however they want. Thanks.

[2014-11-23 17:54] #181 closed, assigned to nobody

[2014-11-25 16:16] #108 closed, assigned to nobody

[2014-11-25 18:41] #116 closed, assigned to nobody

[2014-11-27 05:52] tarukosu opened #212 "MoveIt! freezes when it uses tilt scan pointcloud"
When I used MoveIt! for PR2 in gazebo, MoveIt! freezed and rviz didn't work well.
At that time, MoveIt! used pointcloud generated from tilt scan data.

This is yaml file for sensor configuration.

[code]

This is /tilt_scan_shadow_filtered bag file.
https://drive.google.com/file/d/0BzwRmQaIVeI0MDhPMzRUbmYwREU/view?usp=sharing

When MoveIt! used pointcloud generated from kinect data, it worked well

[2014-12-01 05:35] mikeferguson commented on #117
fix merged

[2014-12-01 05:35] #117 closed, assigned to nobody

[2014-12-01 05:35] mikeferguson commented on #115
fix merged

[2014-12-01 05:35] #115 closed, assigned to nobody

[2014-12-01 05:36] mikeferguson commented on #109
fix merged

[2014-12-01 05:36] #109 closed, assigned to nobody

[2014-12-01 05:36] mikeferguson commented on #114
fix merged

[2014-12-01 05:36] #114 closed, assigned to nobody

[2014-12-01 05:37] mikeferguson commented on #112
fix merged

[2014-12-01 05:37] #112 closed, assigned to nobody

[2014-12-01 05:37] mikeferguson commented on #110
fix merged

[2014-12-01 05:37] #110 closed, assigned to nobody

[2014-12-01 05:38] mikeferguson commented on #111
fix merged

[2014-12-01 05:38] #111 closed, assigned to nobody

[2014-12-06 21:35] mikeferguson opened #215 "Storing distance field for collision detection"
A number of planning algorithms (that are not yet or no longer in MoveIt) require a distance field. In the old SBPL interface, this was handled by having a different collision checker, which SBPL was hardcoded to use (or fallback and not use the distance field but have terrible performance). I'd like to avoid this in the future, which means having a standard storage spot for a distance field. So,

[2014-12-06 21:47] mikeferguson commented on #34
@isucan, could you elaborate on this ticket?

[2014-12-06 21:47] mikeferguson commented on #50
@isucan could you elaborate on this? What did you intend to do and why?

[2014-12-07 07:03] isucan commented on #215
@mikeferguson , this would be a great addition to MoveIt. I think the distance field should be in the PlanningScene. That is the object intended to contain all the necessary information for a planner to perform its computation. The DistanceField is a different concept than a collision checker, so I think it should be available directly. Of course, a collision detection wrapper could (should) be  i

[2014-12-07 07:12] isucan commented on #34
I believe this is now implemented. Originally the planning interface had a solve function itself. I did not like that because you could not easily use multiple planners from the same library at the same time. Currently, the planning interface allows us to create a context (which initially i thought I was going to call a handle) and the context has a solve function.

[2014-12-07 07:12] #34 closed, assigned to isucan

[2014-12-07 07:31] isucan commented on #50
Currently the ignored collision matrix is quite inefficient. If we had a mapping from object names to integers then we could avoid doing map lookups but instead to lookups by index in a vector/matrix.

[2014-12-07 07:31] mikeferguson commented on #215
It does make sense to make it a part of the PlanningScene. I actually have spent a bit of time today looking more into the API, and I think that means we still have two options since the PlanningScene actually stores the geometric data about objects in a collision_detection::World instance, so:
- We can add the field to collision_detection::World, which is already passed to the CollisionWorld inst

[2014-12-07 07:38] mikeferguson commented on #50
Ok, so that means what I thought it meant -- I wasn't sure if I was missing something because I didn't know what you meant by "as message"

[2014-12-07 07:48] isucan commented on #215
That is a good point! World class is the right place.

[2014-12-10 05:38] mikeferguson commented on #165
Fixed by #184

[2014-12-10 05:38] #165 closed, assigned to nobody

[2014-12-11 23:47] davetcoleman opened #217 "Reusing Constraint Samplers"
Currently all constraint samplers are considered "disposable" in that they are created and destroyed liberaly and are not reusable for different constraints. By this I mean:
- Constraint samplers are generated new for every planning request (e.g. planning_context)
- Once you pass a `Constraints.msg` to them, you cannot change that constraint

I'm working on a humanoid constraint sampler that is sl

[2014-12-12 05:19] isucan commented on #217
This is an interesting idea, and I think we can do something nice to support this. My suggestion would be to define a unique ID for every set of constraints. The constraints message already has this ID, but we should probably generate a serialization from the Constraints message. If you look in the constraints library, this is already done: hex strings corresponding to the constraints message are

[2014-12-12 05:26] davetcoleman commented on #217
I'm not sure what you are referring to by _constraints library_ - the `constriant_samplers`, `kinematic_constraints`, or `constraint_sampler_manager_loader`? i.e. where can I find this hex string code?

[2014-12-12 05:49] isucan commented on #217
this is in the ompl planning package, in the constraint_library object

[2014-12-12 07:37] davetcoleman commented on #217
[Found it](https://github.com/davetcoleman/moveit_planners/blob/indigo-devel/ompl/ompl_interface/src/constraints_library.cpp) thanks!

What about my idea of having the ability to pass in constraints within the `sample()` command? I'm already playing around with this change but am sure there are larger issues to be dealt with.

[2014-12-17 18:50] UltronDestroyer opened #222 "Request for feature: MoveIt informing what links are causing red collisions and why"
This would be super helpful for debugging why things are going red and wonky :-)

[2014-12-17 18:53] UltronDestroyer commented on #158
+1

[2014-12-17 19:27] isucan commented on #222
I think this is available in the last tab of the rviz plug-in. The names of
the colliding links should show up there.
On Dec 17, 2014 10:50 AM, "Devon Ash" notifications@github.com wrote:

[2014-12-17 19:39] UltronDestroyer commented on #222
You're right. It also helped debug my problem. A supposed working link was spawning inside another link, causing a collision. It wasn't being disabled for some reason though. I'd like insight on that because after disabiling every collision check for every link in the robot, it was still red.

[2014-12-20 18:15] mikeferguson commented on #215
This is still in progress, but there were other things I found were needed and it will be another week or so before I actually have a PR for this issue. Current work is in https://github.com/mikeferguson/moveit_core/tree/distance_field_world

[2014-12-22 02:37] davetcoleman commented on #215
I'm curious about this new feature - could I use my current OMPL planning methods but now use a cost function that takes into account distance to nearest obstacle? Does maintaining this data structure computationally cost much more than the current collision checking methods? Is it just extra book keeping?

[2014-12-22 02:44] mikeferguson commented on #215
You could use the distance field inside any planner or collision checker. Maintaining the distance field will require some extra computation -- whenever the world is updated (object added, removed, etc). I haven't quite figured out the overhead is for the worst case, which is basically when the octomap updater is running, it is something I plan to check on as I implement this. Because it does requ

[2015-01-16 15:29] ahoarau opened #225 "Wrong vertices order when dae contains normals"
Hello,

I'm trying to read and publish the vertices point from the **collision meshes**.
It **works** great if the dae files does **NOT** contain normals (in meshlab you can export your STL files to DAE with or without normals).
A few examples :  https://github.com/ahoarau/robot_model_to_pointcloud

I'm using using simply :
getLinkModelsWithCollisionGeometry -> getShape -> vertices (3k), vertices

[2015-01-26 16:21] skohlbr opened #229 "Capability to remove waypoints from robot_trajectory"
I'm guessing it's a concious design decision, but I just discovered that there are various ways of adding waypoint to trajectories, but apparently (?) no way to remove them (looking at https://github.com/ros-planning/moveit_core/blob/indigo-devel/robot_trajectory/include/moveit/robot_trajectory/robot_trajectory.h).

What I want to do is essentially removing the first x waypoints in a trajectory. T

[2015-02-25 11:54] dyouakim commented on #104
Hi, I would like to know how to use this to get robot state and be able to update it after executing a plan (as a feed-back from the controller). or if there is any other way to set joint values, I would appreciate it. Thanks !

[2015-03-05 15:51] davetcoleman commented on #229
+1 I think that would be a nice feature to add, I don't see how it could hurt anything

[2015-03-15 06:27] mikeferguson opened #234 "Release into ROS Jade"
For now, we should be able to operate off the indigo-devel branch as I don't think there are any new upstreamed packages. Missing packages in jade that we depend on are:
- [x] eigen_stl_containers
- [x] fcl
- [x] geometric_shapes
- [x] kdl_parser
- [x] liburdfdom-dev needs rosdep key for vivid
- [x] liburdfdom-headers-dev needs rosdep key for vivid
- [x] moveit_msgs (also depends octomap_mgs)
- [x

[2015-03-15 06:29] mikeferguson commented on #234
liburdfdom rosdep keys submitted: https://github.com/ros/rosdistro/pull/7516

[2015-03-16 10:54] dornhege opened #235 "Possible bug in transformVector3"
Hi,
I just stumbled upon this, so if this is actually correct please disregard it.

[code]

The code only takes the rotation part. I believe it should use the complete transform to transform a Vector3.

[2015-03-16 17:48] sachinchitta commented on #235
transformVector3 seems to assume that v_in and v_out are "free" vectors, not points. This should be in the documentation though - it looks like its not used anywhere else within moveit_core or moveit_ros.

[2015-03-16 18:23] dornhege commented on #235
OK, makes sense. In that case I'd just leave this open as a "documentation bug".

[2015-03-17 04:20] davetcoleman commented on #235
Why not just improve the documentation? https://github.com/ros-planning/moveit_core/pull/236

[2015-03-17 05:15] #235 closed, assigned to nobody

[2015-03-25 14:27] UltronDestroyer opened #237 "Using multiple controller managers"
Is this possible? For example, I want to use the MoveItSimpleControllerManager to control the UR5 arm. But I've put the PR2 gripper onto it, and so would like to also use the PR2 controller manager.

Is it possible to do this in MoveIt? Afaik there is the one parameter moveit_controller_manager_name that can only be set to one for movegroup. Or can I pull up multiple move groups?

One possible sol

[2015-03-25 19:46] mikeferguson commented on #237
Right now it looks like it uses a single plugin for all controllers -- this is implemented in the TrajectoryExecutionManager class -- in particular https://github.com/ros-planning/moveit_ros/blob/179d1dd0d0f4e9a29af9930913ae391298474d89/planning/trajectory_execution_manager/src/trajectory_execution_manager.cpp#L117 uses pluginlib to load the plugin. The only way to have more than one plugin would

[2015-03-25 19:46] #237 closed, assigned to nobody

[2015-04-12 03:08] scottpaulin opened #238 "PlanningScene::distanceToCollision returning large (possibly uninitialized) distances"
Hi,

I am getting some very large distances when using distanceToCollision. I have compared these to distances computed using checkCollision with distance set in the CollisionRequest. I am using the Universal Robot package on Indigo.

Output:

[code]

Code:

[code]

Regards,

Scott.

[2015-04-28 14:38] arocchi opened #239 "capsule support in moveit_core"
Hello everyone,
does moveit support as of now capsule geometries when checking collisions?
The capsule geometry distance computation has been implemented last year in fcl (see https://github.com/flexible-collision-library/fcl/pull/37) and it would be nice to access this feature directly through MoveIT (see https://github.com/Karsten1987/sot_fcl_distance_computation/blob/master/src/DistanceComputat

[2015-04-30 23:39] mikeferguson commented on #234
moveit_msgs released: https://github.com/ros/rosdistro/pull/8263

big blocker left is now fcl

[2015-05-06 01:56] mikeferguson commented on #239
AFAIK, all of the moveit collision checking is limited to types that can be represented by a shape_msgs message -- of which I believe there is no capsule.

[2015-05-06 08:11] arocchi commented on #239
Yes you're right https://github.com/ros/common_msgs/blob/jade-devel/shape_msgs/msg/SolidPrimitive.msg it's a problem of the whole stack... that should e addressed starting from the ros/common_msgs repo :\

[2015-05-06 16:29] davetcoleman commented on #239
Doesn't seem like it would be hard to add a capsule solid primitive

[2015-05-07 09:25] StanleyYake opened #240 "class fcl::CollisionObject’ has no member named collisionGeometry"
Hi there:
    Because I followed the "Ros by example volume 2" writed by R.Patrick Goebel, he suggest to build it from source.But I encountered with this after catkin_make in my catkin_ws/src directory: class fcl::CollisionObject’ has no member named ‘collisionGeometry'
![screenshot from 2015-05-07 17 14 31](https://cloud.githubusercontent.com/assets/7522853/7512221/0b66ccee-f4de-11e4-8915-72128ce

[2015-05-07 09:48] mikeferguson commented on #240
If there is going to be any chance of getting help on this, this ticket is going to need a lot more information -- what ROS distro are you using? what OS version? what branch/tag have you checked out for each repo that you are building from source? what version of FCL are you using, and is it from debians or source?

[2015-05-07 10:40] arocchi commented on #239
@davetcoleman does it mean you are willing to take a stab at it? :)

[2015-05-07 16:27] davetcoleman commented on #239
Sorry, I have no need for capsule geometries at the moment

[2015-05-08 05:25] StanleyYake commented on #240
Hi mikeferguson:
I 'm using the ROS Hydro on Ubuntu 12.04, and used the default repo when building from source, thx for you reminds, the mistake is that the default repo is indigo, after changing to Hydro, I have build it successfully, thx again :+1:

[2015-05-08 05:25] #240 closed, assigned to nobody

[2015-05-08 15:12] arocchi commented on #239
@davetcoleman if I have time in the future I might take a look at it. Anyway, when I was talking about the whole stack, I intended things like urdfdom :\

[2015-05-13 03:42] mikeferguson commented on #234
@vrabaud released FCL -- looks like it has built. Releasing this now

[2015-05-13 03:42] #234 closed, assigned to mikeferguson

[2015-05-22 08:13] avoelz opened #241 "Collision checking for attached objects"
Hello,

I have a robot trajectory of which I know that it is collision-free. Now I want to check whether it is still collision-free in combination with an attached object. Currently I see the following options:
1) perform full collision checking
2) perform collision checking limited to the joint model group that includes the link with the attached object
I could not find a method for restricting c

[2015-06-02 21:16] ndantam opened #249 "Dynamically Reconfigure Robot/Scene"
It would be useful to able to dynamically change the kinematics of the
robot.  For example, picking a tray containing several objects should
incorporate the child objects of the tray into the robot.  This is
roughly possible by attaching as collision objects all children of the
picked object; however, this is an additional step for something which
could be managed based on the kinematic tree of th

[2015-08-21 09:57] raphimulator opened #256 "Pick function gets stuck eventhough it works fine - no return"
Hi guys,

move_group's pick function won't return, eventhough it works fine.

[code]

So, my node won't execute anything ofter pick.

[code]

What moveit says:

[code]

Picking works in simulation and real execution btw. But after invoking it once, I have to restart my node to execute it again...

![auswahl_030](https://cloud.githubusercontent.com/assets/5645197/9405832/6cf9941c-47fb-11e5-951e-8d8

[2015-09-04 08:18] #256 closed, assigned to nobody

[2015-09-15 21:34] rhaschke opened #257 "association of kinematic solvers in complex move_groups depends on move_group names"
Consider a bimanual robot with Shadow robot hands attached to each arm. This will end up in a complex kinematic tree. We defined groups for both arms (`ra1` and `la1`) for the 7-DoF arms (from base up to tool mount). Further, we defined groups (`ra2` and `la2`) for the arms that also include the two additional wrist joints in the Shadow robot hand (i.e. 9-DoF chains each). Each of those groups hav

[2015-09-18 15:16] Levi-Armstrong opened #258 "The CollisionRobotFCL::distanceSelf returns incorrect distance with urdf's that have multiple geometry in a single link."
The distanceCallback function in collision_common.cpp needs to check to see if both geometries are associated to the same link. If the below code is add after the "If active components are specified" check along with l1 and l2 being instantiated outside the if statement it solves the issue.

[code]

[2015-10-20 14:41] rhaschke opened #260 "recent merge #259 breaks indigo build"
The recent merge of PR #259 performed by @davetcoleman breaks indigo build:
The addition of the new KinematicsQueryOption `KinematicsQueryOptions` in [`kinematics_base.h`](https://github.com/ros-planning/moveit_core/blob/8759d5125a1a2e4d1151f3673bb19124fead2bc6/kinematics_base/include/moveit/kinematics_base/kinematics_base.h#L116) is not mirrored by a change in [`moveit_ros/robot_interaction/.../k

[2015-10-20 14:43] shaun-edwards commented on #260
@jrgnicho, can you verify and fix this issue?

[2015-10-20 15:42] shaun-edwards commented on #260
There is still an open PR that needs to be merged to fix this: ros-planning/moveit_ros#617.  It was opened along with the PR #259, but it wasn't merged.  @davetcoleman, can you review and merge?

[2015-10-20 16:02] davetcoleman commented on #260
Not sure if we should merge #617 or revert this - @sachinchitta wanted to review #259 for indigo

[2015-10-22 04:28] davetcoleman commented on #260
it has been merged https://github.com/ros-planning/moveit_core/pull/259

[2015-10-22 04:28] #260 closed, assigned to nobody

[2015-11-18 17:36] davetcoleman opened #264 "libFCL CMake Error when building ROS from source"
When I build all of ROS from source I get a CMake error on moveit_core because of missing variables:

[code]

I could use some clarification on **which FCL MoveIt! is expecting to link against** - the system version installed through Ubuntu universe, or the `fcl` package that builds the project locally? It seems there is a mix up here.

Relevant CMake code from [here](https://github.com/ros-planni

[2015-11-20 06:27] davetcoleman commented on #167
@adolfo-rt I cranked up that number as you suggested. I've looked at the data a lot of ways, but this plot sums up my takeaways - **increasing the number of iterations actually increases the accelerations spikes** that I'm having issues with. The largest wave in this picture is from 460 iterations.
![results](https://cloud.githubusercontent.com/assets/561060/11293106/a31d5482-8f0b-11e5-8755-fb5bfb

[2015-12-10 17:06] davetcoleman opened #270 "Next MoveIt! Release"
Looks like we haven't had a Indigo MoveIt! release since last January, I'd suggest we do one soon before a whole year passes by. Thoughts?

@mikeferguson

[2015-12-10 17:30] shaun-edwards commented on #270
There are some changes that we submitted to support [Descartes](https://github.com/ros-industrial-consortium/descartes) that we would really like to see released.

[2015-12-10 18:15] mikeferguson commented on #270
I agree -- we should do a release -- let me talk with @tfoote about the sync schedule over the next few weeks as the last sync was about two weeks and we will want to make sure when we do the release we have significant soak time to test the shadow-fixed debians.

[2015-12-14 15:54] ShawnSchaerer commented on #270
+1 on the Descartes integration.  This is something that we are actively working on so having it under one software interface would be ideal

[2015-12-14 15:58] davetcoleman commented on #270
@shaun-edwards could you make a checklist here of what is left for Descartes?

[2016-01-06 18:30] davetcoleman commented on #270
I'd really like to get this release out now. I just emailed Tully asking about the schedule.

[2016-01-06 19:26] shaun-edwards commented on #270
@davetcoleman, sorry I missed your comment.  The Descartes changes have been committed to Indigo.  The only missing piece is the FastIK generator, but I don't believe we want to port those changes back to Indigo (they are in the jade branch).

[2016-01-06 22:04] davetcoleman commented on #270
@tfoote on the next release:

We'll release MoveIt! right after that.

[2016-01-14 16:21] mdrx-io commented on #150
Ubuntu 14.04 installation problem. Solved for Indigo by creating a symlink from `/usr/include/eigen3/Eigen` to `/usr/local/include/Eigen`.

[2016-01-27 00:30] 130s commented on #270
Ping ping thanks thanks!

[2016-02-17 17:18] simonschmeisser opened #275 "RobotState leaks in RobotState::attachBody"
`RobotState` has two functions to attach an AttachedBody:

[code]

vs

[code]

The documentation for the first version states that
`Ownership of the memory for the attached body is assumed by the state.`. For the second version that is evidently clear. However there seems to be no place where these AttachedObjects are deleted again.

A quick fix for me was to modify the destructor:

[code]

Genera

[2016-02-17 17:51] simonschmeisser opened #277 "Magic code in RobotState"
There is quite some alignment related code in RobotState that is hard to read and uses stuff like malloc etc.

I think this should be changed for properly aligned std::vectors. See
[Using STL Containers with Eigen](http://eigen.tuxfamily.org/dox/group__TopicStlContainers.html) for details on how to implement this.

[2016-02-23 14:18] johnnieleung opened #278 "Cannot use IKFast-plugin after moveit_core update from 0.6.15 to 0.7.0"
Before I was using the debian package with moveit_core of version 0.6.15, which was working fine with my robot and all my configurations. Today I compiled moveit_core version 0.7.0 for Indigo but after that, it seems some errors appear when loading the ikfast-plugin. I got the following message:

[code]

Pretty sure it's the update that cause this problem, because when I reverted it, everything is

[2016-02-25 08:18] johnnieleung commented on #278
Never mind... I screwed up the catkin workspace overlay. The code is fine. Sorry for wasting everybody's time.

[2016-02-25 08:18] #278 closed, assigned to nobody

[2016-02-25 08:31] johnnieleung opened #279 ""Returning dirty link transformation" warning when planning with joint constraints"
Problem: when planning with joint constraints, warning message "Returning dirty link transformation" keeps popping up.

Problem location: I have tracked the problem down to the following function in moveit_core/constraint_samplers/src/default_constraint_samplers.cpp:

[code]

The problem is that after `state.setJointGroupPositions(jmg_, values_)` the state is not updated. Therefore when followed b

[2016-02-25 12:52] daichengkai commented on #279
Hi, I also have the same issue you mentioned in the #278 , could you tell me the way you solve it? Thanks!

[2016-02-25 14:01] johnnieleung commented on #278
Hi,

do you have the same error message? I am not sure my experience could help you, because it was kind of a special case. Nevertheless I will try to illustrate my solution.

So before this I was using a debian package MoveIt and working on a catkin workspace WSA, which contains my own codes. WSA overlays only /opt/ros/indigo/share. Then I decided to build MoveIt myself because I want to track do

[2016-02-25 14:04] johnnieleung commented on #279
Hi, please check out the reply I just added in #278

[2016-03-24 23:11] scpeters opened #280 "Potential for change in fcl package name"
There is some discussion about using the upstream version of the fcl package in ROS K instead of the ROS version (see https://github.com/ros-gbp/fcl-release/issues/1 ). If we change this, then a `kinetic-devel` branch will need to be created so the `package.xml` can be modified with the new name.

[2016-04-12 17:37] simonschmeisser commented on #275
Closed in pr #276 for jade-devel

[2016-04-12 17:37] #275 closed, assigned to nobody

[2016-04-12 17:47] davetcoleman commented on #280
I'm happy to create those branches, sounds like a good idea

[2016-04-12 17:49] scpeters commented on #280
Thanks!

[2016-04-14 14:01] ibaranov-cp opened #283 "malloc() memory corruption"
A client is running MoveIt!, and having malloc memory corruption errors. At first, I suspected it to be a config problem, but after remotely connecting to their machine, I see the issue on running the setup_assistant, and loading our basic Husky description. I have used both Husky description and moveit assistant many times and have never had this issue.

[code]

Similar issues arise when using an

[2016-04-15 22:31] 130s opened #284 "Indigo release 0.7.1"
I found while running prerelease test for `moveit_ros` https://github.com/ros-planning/moveit_ros/issues/662 that the packages here need to be updated first.

[2016-04-15 22:31] 130s commented on #284
And done https://github.com/ros/rosdistro/pull/11100

[2016-04-15 22:31] #284 closed, assigned to nobody

[2016-04-22 18:19] scpeters commented on #280
The fcl rosdistro pull request has been merged. I can make a pull request here as soon as the `kinetic-devel` branch is created.

[2016-04-25 18:18] davetcoleman commented on #280
There is now a kinetic-devel branch!

[2016-04-25 20:48] scpeters commented on #280
Thanks for making the branch, see #286 for the new rosdep name.

[2016-04-27 18:50] #280 closed, assigned to nobody

[2016-05-03 04:14] alainsanguinetti commented on #150
Same problem with same fix on Ubuntu 15.04 and ROS jade

[2016-05-05 20:47] UltronDestroyer commented on #283
@davetcoleman Thoughts?

[2016-06-09 15:57] CMobley7 commented on #283
Any luck solving this problem?

[2016-06-09 16:01] UltronDestroyer commented on #283
Afaik this was a non-issue and arose from improper setup/config of the MoveIt files. Do you still have this issue @CMobley7 ? I remember we had this working on your bot.

[2016-06-09 16:46] CMobley7 commented on #283
@TheDash It should be working on our robot; however, I was making a new srdf on my computer with links I've added. Following the advice on another thread, I used netfabb to repair and re-export all of the stl. After which, the problem was fixed. Very few of the stl didn't need to be repaired on export.

[2016-06-09 16:53] UltronDestroyer commented on #283
Good to hear. Can you confirm (for my knowledge and others sake) that the issue is bad STLs?

[2016-06-09 16:57] CMobley7 commented on #283
Yes, the only things I changed between runs of the Moveit Setup Assistant was the STLs?

[2016-06-09 17:41] UltronDestroyer commented on #283
Awesome! thank you sir.

[2016-06-13 10:11] alainsanguinetti commented on #167
Hello, just to let you know that I am working on it for my current company.
Here is a bit of literature on the subject : as you will see, it's an open question but there is trend toward S-curves and analyzing a path by segments.
[https://en.wikipedia.org/wiki/Jerk_(physics)](https://en.wikipedia.org/wiki/Jerk_%28physics%29)
[http://homepages.laas.fr/daniel/iros06WS_Herrera.pdf](http://homepages.la

[2016-06-14 15:51] davetcoleman commented on #167
That's great to hear!

I worked on an experimental solution to this last January using Time Optimal Path Parameterization - it seemed like a good solution and I had a working demo, but the code I built my MoveIt! interface on top of was too slow for anything close to realtime results (took several seconds). Here's my progress:
https://github.com/davetcoleman/moveit_topp

Original implementation: h

[2016-06-14 16:01] #283 closed, assigned to nobody

[2016-06-15 19:52] v4hn opened #298 "catkin_lint"
Most moveit packages (not just core) produce a lot of issues when fed into `catkin_lint`.
These should be cleaned to integrate better with catkin.
Otherwise some of these issues will pop up over time one after another.

[2016-06-15 20:20] davetcoleman commented on #298
+10!

[2016-06-22 21:08] anderwm opened #299 "Dependencies on fcl->octomap"
Not sure if there is any motivation to have this package on Kinetic.  However, core doesn't seem to compile with the newest version of fcl,  which is needed to support the newer version of octomap (1.8), which is required in kinetic.  On first glance it looks like fcl has moved from boost to c++ 11.
https://github.com/flexible-collision-library/fcl/pull/129
http://wiki.ros.org/kinetic/Migration

I

[2016-06-22 21:47] davetcoleman commented on #299
We certainly need the kinetic-devel branch of MoveIt! to work with the version of FCL and octomap included in ROS Kinetic. I do not think many of us have spent much time working with Kinetic yet but keep us updated if you figure out the necessary fixes. Thanks for reporting!

[2016-06-23 03:02] anderwm commented on #299
FCL isn't included in ROS Kinetic, at least not yet.  But it takes their newest version to work with octomap 1.8 which is in Kinetic.  The problem does seem to be that all of FCL's constructors and function calls now require c++11 things instead of the boost things that currently exist in moveit collision_detection_fcl

[2016-06-23 09:36] v4hn commented on #299
Which version of FCL are you talking about?
Their latest release is 0.4.0 (https://github.com/flexible-collision-library/fcl/releases)

And that one works fine even with _indigo-devel_ over here.

[2016-06-23 12:14] anderwm commented on #299
I'm referring to their latest commit, after they merged in the code to be compatible with octomap 1.8.  Link to the PR above.

[2016-06-23 14:16] v4hn commented on #299
To me it makes no sense to start supporting "kinetic" by depending
on a git revision of fcl. As it stands now libfcl 0.3.2 is provided in xenial
and osrf already packaged octomap 1.8 in kinetic, so osrf will have to
package a current version of fcl on their mirrors in kinetic.
I think it's a good idea to ask the fcl maintainers to release 0.4.1
that officially supports octomap 1.8 and allow osrf t

[2016-06-23 17:45] tfoote commented on #299
octomap is released by @ahornung from what I see it does not depend on fcl: https://github.com/OctoMap/octomap/blob/devel/octomap/package.xml fcl just needed to be compatible with the same build flags.

In general our policy is to use upstream versions by default. There is already a rosdep rule: https://github.com/ros/rosdistro/blob/master/rosdep/base.yaml#L1433-L1436

0.3.\* is available on wily,

[2016-06-23 17:50] scpeters commented on #299
Yes, `libfcl-dev` is used by `moveit_core` as of https://github.com/ros-planning/moveit_core/pull/288, which corresponds to the 0.3 versions available upstream.

[2016-06-23 17:53] scpeters commented on #299
I could add, though, that `moveit_core` is the only ROS package that I know of that depends directly on fcl.

[2016-06-23 18:04] davetcoleman commented on #299
just a note - i do not think anyone is using the kinetic-devel branch yet that @scpeteres created, because its [34 commits behind indigo](https://github.com/ros-planning/moveit_core/compare/kinetic-devel...indigo-devel?expand=1), so no one has tested the new fcl dependency yet.

[2016-06-24 01:24] davetcoleman commented on #270
indigo was released in May https://github.com/ros-planning/moveit_core/releases/tag/0.8.0, closing

[2016-06-24 01:24] #270 closed, assigned to nobody

[2016-06-24 12:49] v4hn commented on #299
@tfoote: sorry, you got it the wrong way around.
**_fcl**_ optionally depends on **_octomap**_.

Because moveit_core in kinetic would use xenial's libfcl
(and its octomap support) but kinetic's octomap 1.8, this breaks.
Incidentally, xenial's libfcl even has its octomap support _disabled_.
We need a not-yet-released version of libfcl (that will support
octomap 1.8) in kinetic, with octomap support

[2016-06-24 13:48] anderwm commented on #299
@v4hn Thanks, that is exactly what I had found, but couldn't describe nearly that well.

[2016-06-24 17:33] scpeters commented on #299
I'll add briefly that xenial has [octomap 1.6.8](http://packages.ubuntu.com/xenial/liboctomap-dev). I don't know why the Ubuntu version of `libfcl` doesn't use that octomap version, though someone mentioned that it requires octomap 1.8.

cc: @j-rivero

[2016-06-24 17:51] j-rivero commented on #299
Speaking from the point of view of the maintainer of fcl, we can add optional support at any time if we have a good reason to do it. Current Debian testing, Debian unstable and Ubuntu Yakkety are using 1.8 octomap.

[2016-06-27 09:03] v4hn commented on #299
@j-rivero: Well, if you ever want to see moveit_core using debian's libfcl package,
we will need octomap support in there. I suppose this is "a good reason"?

Also I just opened the referenced issue in the fcl project and asked for a new release
we could push into kinetic.

[2016-06-27 18:25] j-rivero commented on #299
Removing bundles from other libraries and share them from a system installation looks like a good reason to me. I will change the Debian Sid package and the change will be propagated to Ubuntu (Yaketty).

[2016-06-27 19:15] davetcoleman commented on #299
I just finished getting MoveIt! to compile on Kinetic with @scpeters' commit https://github.com/ros-planning/moveit_core/pull/288 - are we sure FCL needs to be released with octomap support? Note I have not testing anything during runtime.

[2016-06-27 19:51] anderwm commented on #299
I was not using the kinetic branch of Core, as it was many commits behind, but are you sure it is using octomap 1.8?

[2016-06-27 20:04] davetcoleman commented on #299
I had to sync indigo into kinetic - will push the changes after https://github.com/ros-planning/moveit_core/pull/300 is merged

Yes, octomap 1.8 as that is what has been [released in kinetic](http://repositories.ros.org/status_page/ros_kinetic_default.html?q=octomap)

[2016-06-27 22:52] v4hn commented on #299
You seem to be right.

It actually compiles successfully,
I just checked on a fresh xenial just to be sure.

The trouble is, collision_detection_fcl makes use
of headers of the fcl that should only be accessible
when the library was compiled with octomap support
(without octomap support some functions in these
header files are not compiled into the library and
some headers behave differently).
I o

[2016-06-27 23:18] davetcoleman commented on #299
Sounds like a question for @j-rivero

[2016-06-28 14:08] j-rivero commented on #299
Without looking very deeply into the problem, I mostly agree with @v4hn diagnostic. It could be the case that things are working now thanks to a bug. We should fix the bug and get the correct chain of dependencies (avoiding bundles) in place. If moveit_core does not need to know anything about octomap and only cares about fcl then the proposed solution looks good to me.

[2016-06-28 20:52] v4hn commented on #299
On Tue, Jun 28, 2016 at 07:08:53AM -0700, Jose Luis Rivero wrote:

As far as I can see, this would mean that we have to wait for a new fcl release,
build it with octomap support and bundle it with kinetic instead of using
the current debian package. Do you agree?

I'm not sure I understand what you mean.
moveit_core directly includes octomap in multiple places.
Additionally it uses headers of fcl

[2016-06-30 10:25] ahornung commented on #299
Is there anything needed in OctoMap to ease transition or is this simply a matter of depending on the right version (ROS release vs. debian release)?

Are you actually using parts of the OctoMap API that changed in 1.8? Otherwise there shouldn't be a problem using the new version besides the different ABI.

[2016-06-30 11:18] j-rivero commented on #299
If look for a short-term solution (something that affects releases previous to Yaketty) then yes, we should find a custom solution within the scope of the ROS repos.

The dependency chain should be something like:
moveit -> octomap, fcl. | fcl -> octomap (right?)

[2016-06-30 14:28] anderwm commented on #299
I also was able to get the kinetic-devel branch to build (except warehouse but that's a different problem) from @davetcoleman 's [fork.](https://github.com/davetcoleman/moveit_core/tree/kinetic-devel-synced)  However, I don't see how it can possibly work as intended.  libfcl-dev (0.3.2-1) is released into Xenial, and (I believe) that version has [function calls](https://github.com/flexible-collisi

[2016-06-30 23:05] v4hn commented on #299
On Thu, Jun 30, 2016 at 03:25:48AM -0700, Armin Hornung wrote:

I don't think so. Octomap 1.8 is not an issue at all here.
The fact that kinetic features Octomap 1.8 when there is no FCL
release that supports this new version yet is an issue though.
If you know one of the FCL maintainers, that would be pretty helpful
to get information on their plans to release because we will probably
have to wai

[2016-06-30 23:07] v4hn commented on #299
On Thu, Jun 30, 2016 at 04:18:19AM -0700, Jose Luis Rivero wrote:

Ok.

`moveit_core` instead of moveit, but yes.

[2016-06-30 23:14] v4hn commented on #299
On Thu, Jun 30, 2016 at 07:28:41AM -0700, anderwm wrote:

The debian package libfcl-dev currently does not have _any_ function calls to octomap
in the library, because it was compiled _without_ octomap support. See earlier explanation.

We will probably wait for the next FCL release, that will include the octomap 1.8 fixes
(among other changes), and _then_ support the new c++11 fcl interfaces from

[2016-07-01 16:58] j-rivero commented on #299
@jslee02, Do we have any plans to get a new FCL release sometime soon? BTW, we are in a good time to get new releases into Debian so Ubuntu Yaketty can sync during the standard syncing period.

[2016-07-01 19:19] jslee02 commented on #299
I don't know if any of other maintainers have plans, but I wouldn't have any objection on releasing FCL 0.5. Also, I can help the release if there is something I can do.

[2016-07-08 21:09] davetcoleman opened #309 "New Continuous Integration Method"
I've created yet another continuous integration script - its a combination of the strengths of [industrial_ci](https://github.com/ros-industrial/industrial_ci) and the simplicity of @jbohren and my [original MoveIt! travis](https://github.com/ros-planning/moveit_core/blob/09bbc196dd4388ac8d81171620c239673b624cc4/.travis.yml) script that was recently revitalized by @rhaschke. The show-stopper probl

[2016-07-08 21:09] davetcoleman commented on #309
@130s I'm mostly looking for your feedback

[2016-07-08 23:36] rhaschke commented on #309
+1 Great job!

[2016-07-14 14:20] davetcoleman commented on #309
The two places we currently needed this new CI method has been merged, so this issue is resolved for now. It would be nice if all moveit_\* repos used this new script, but I don't think its critical at this moment to do so. In fact, I'd rather all those places just got merged into a single repo (future topic). Closing this issue.

[2016-07-14 14:25] davetcoleman opened #310 "C++11 Support for all moveit_* repos"
It's [come to my attention](https://github.com/davetcoleman/moveit_visual_tools/issues/9) from @simonschmeisser that there is a linking error from any package that wants to use geometric_shapes with C++11 because of boost::variant c++11/c++03 incompatibilities. Because kinetic minimum requirements includes C++11, I think we should upgrade geometric_shapes to C++11. However, this would also require

[2016-07-14 14:32] simonschmeisser commented on #310
fcl also moved to c++11 in fcl > 0.4.0 and thus adds a c++11 requirement on moveit_core. fcl > 0.4.0 is required as fcl <= 0.4.0 is not compatible to octomap 1.8 as released in kinetic

https://github.com/flexible-collision-library/fcl/issues/137

[2016-07-14 17:25] v4hn commented on #310
+1 just add the respective compiler option to the repos.

[2016-07-15 07:04] davetcoleman commented on #310
The three above PRs for C++11 are ready to be merged together (geometric_shapes, moveit_core, moveit_ros)

[2016-07-16 05:11] rhaschke commented on #310
@davetcoleman Go ahead and merge those PRs whenever you see fit.

[2016-07-16 09:16] davetcoleman commented on #310
I have merged the three PRs

[2016-07-16 09:16] #310 closed, assigned to nobody

[2016-07-19 14:55] davetcoleman commented on #309
Closing this issue since there seems to be acceptance - @130s has started using this script in various places such as https://github.com/ros-interactive-manipulation/manipulation_msgs/pull/8

[2016-07-19 14:55] #309 closed, assigned to nobody

[2016-07-19 15:05] davetcoleman commented on #299
Earlier in this thread I stated that MoveIt! builds fine with the current misconfiguration of FCL & Octomap dependencies in Kinetic. I had only been testing that MoveIt builds and passes the tests, but there is very little test coverage in MoveIt! right now. Turns out I am getting runtime errors as well, as pointed out by @anderwm

@jslee02 that would be really great if you could take the lead on

[2016-07-19 15:08] davetcoleman commented on #264
I believe this old issue was fixed

[2016-07-19 15:08] #264 closed, assigned to nobody

[2016-07-19 17:06] davetcoleman opened #313 "Build from source instructions for Kinetic and FCL"
This is a temporary issue until https://github.com/ros-planning/moveit_core/issues/299 is fixed for releasing debians

Currently the kinetic branches of MoveIt! build and pass their tests, but do not actually run

@simonschmeisser reported on the mailing list:

I was unable to reproduce his results just now using both his and [my rosinstall](https://gist.github.com/davetcoleman/8607010041b41767fbb

[2016-07-19 17:12] anderwm commented on #313
This looks like cmake is still finding octomap 1.8 [previous issue](https://github.com/flexible-collision-library/fcl/issues/126)

[2016-07-21 11:18] simonschmeisser commented on #313
I have added a file src/octomap/package.xml:

[code]

as well as src/fcl/package.xml

[code]

the build_depend fixes the dependency of fcl on octomap, leading to octomap being build first. it will then be preferred over the system octomap

[2016-07-21 20:16] davetcoleman commented on #313
Thanks @simonschmeisser for the package.xml tip.

So if we build `fcl` from source in that manner, I think we need to change the moveit_core package.xml fcl dependency to just ready `fcl` instead of `libfcl-dev` - does that sound right? Otherwise rosdep will try to install the system version.

I also had to install `libqglviewer-dev-qt4` through apt-get. I still got a moveit_core error with FCL:

[2016-07-21 20:18] anderwm commented on #313
I'm not as good as I should be with cmake, but I still can't make it stop finding 1.8 even with your package.xml files.  I also tried to add version requirements to the moveit's find_package.

Oops, I was typing while you added your comment.  The getChild() doesn't exist in octomap 1.8 but does in octomap 1.7.  Somehow @simonschmeisser is convincing cmake to find 1.7 (which is in the workspace) wh

[2016-07-21 20:52] davetcoleman commented on #313
`ros-kinetic-octomap` is 1.7.0, so that is good. Is there a system (debian) version I don't know about?
The octomap source version @simonschmeisser is recommending is 1.7.2  - should it be 1.7.0?
Does octomap's `package.xml` go in the root folder or the `octomap/octomap` folder? Didn't make a difference on my build.

[2016-07-21 21:15] anderwm commented on #313
Ok, now I'm really confused.  I thought all of these problems were stemming from the fact that ros-kinetic uses octomap 1.8 (I learned that from [here](http://wiki.ros.org/kinetic/Migration)).  After learning that, I tried to compile fcl with octomap 1.8 and failed just like we are failing now.  This led me to [octomap 1.8 release notes](https://github.com/OctoMap/octomap/releases/tag/v1.8.0), and

[2016-07-22 09:17] simonschmeisser commented on #313
Well fcl 0.5 is out since yesterday, so the real fix would be to upgrade to that. Make sure to double check that your git branches are actually correct. Octomap 1.7.2 is still compatible to 1.7.0, the changes were only introduced in 1.8

Can you confirm that octomap finishes building before fcl starts? Do a catkin clean --all to ensure that cmake isn't caching the path to system octomap

[2016-07-22 10:06] v4hn commented on #313
On Thu, Jul 21, 2016 at 01:52:26PM -0700, Dave Coleman wrote:

According to [rosdistro](https://github.com/ros/rosdistro/blob/master/kinetic/distribution.yaml#L2250) it is not.
Did I miss something?

[2016-07-22 19:00] davetcoleman commented on #313
Looks like my Docker images aren't up to date! They should auto-rebuild with the OSRF images are rebuilt, which I had checked and they seemed to rebuild often. Maybe I just have a local image that is out of date.

[2016-07-25 13:00] de-vri-es opened #315 "MoveIt! Kinetic Modifications for FCL 0.5 and octomap 1.8"
FCL 0.5 was released which supports octomap 1.8. That is good, but additionally, FCL 0.5 uses `std::shared_ptr` in their API whereas for example `geometric_shapes` and moveit use `boost::shared_ptr`.

I forked both `geometric_shapes` and `moveit_core` for now and switched them to `std::shared_ptr` for octomap and fcl types. However, I'm wondering how to continue. I could put in pull requests but t

[2016-07-25 13:07] de-vri-es commented on #315
For reference, the changes to `geometric_shapes` [1] and `moveit_core` [2] are available in forks under the Delft Robotics github organization.

[1] https://github.com/delftrobotics/geometric_shapes/tree/fcl-0.5
[2] https://github.com/delftrobotics/moveit_core/tree/fcl-0.5

[2016-07-25 13:09] v4hn commented on #315
On Mon, Jul 25, 2016 at 06:00:46AM -0700, Maarten de Vries wrote:

Yes, there is more work. Nevertheless, for kinetic we plan to move MoveIt! to c++11 std where possible. Pull requests are welcome!
(Keep in mind we did not yet release for kinetic, so the interfaces will see some change before that.

[2016-07-25 13:21] de-vri-es commented on #315
Does that mean that in general `std::shared_ptr` should be preferred over `boost::shared_ptr`, even if not required by a dependency (such as fcl in this case)? In some cases of course, dependencies may actually require `boost::shared_ptr` (such as `roscpp`).

I do believe that `geometric_shapes` has been released for kinetic already though? So can we still modify the interface there?

[2016-07-25 14:34] davetcoleman commented on #315
`geometric_shapes` is almost exclusively used by MoveIt!, though the wiki says it is also used by collada_urdf, so I think its safe to change that interface. we're going to need to re-release it soon anyway for Kinetic because we've added C++11 support to the CMake file since the last release

indeed - any help with getting FCL to work with moveit kinetic is welcomed. i'm happy to add more kinetic

[2016-07-25 14:41] de-vri-es commented on #315
Alright, I'll make pull requests of what I have so far. Should we use this issue to track what else needs to be done?

[2016-07-25 15:30] davetcoleman commented on #315
Sounds good - I renamed the issue to reflect this

[2016-07-25 16:11] davetcoleman commented on #299
@jslee02 has [just released FCL 0.5](https://github.com/flexible-collision-library/fcl/issues/137#issuecomment-234800901) - I am assuming this is what we want to target in Kinetic then since it includes Octomap 1.8 support?

[2016-07-25 16:11] davetcoleman commented on #315
Sorry to ask this late - but its not clear to me whether we'll use FCL 0.5 in Kinetic or the previous version, I asked this question [here](https://github.com/ros-planning/moveit_core/issues/299#issuecomment-235000913)

[2016-07-25 16:20] de-vri-es commented on #315
Ah right. If we want to use octomap 1.8 there isn't really a choice. I personally think we should aim for that, but lets keep that discussion there. These PR's should wait until that is decided.

Alternatively, we can add a `cmake_option` to switch, but that is a higher maintenance burden.

[2016-07-25 16:27] anderwm commented on #313
This could still be a while, a lot of boost vs c++11 pointer problems.

I probably should have asked this before; are you doing catkin_make_isolated since the cmake files in fcl/octomap don't call catkin_package()?  Or did you change the cmake files in those packages?

[2016-07-25 16:54] davetcoleman commented on #313
Yes it does

I'm using `catkin_tools`, which I highly recommend. It does the isolated build automatically.

@anderwm I'm seeing some success with @de-vri-es new PRs, over [here](https://github.com/ros-planning/moveit_core/pull/316#issuecomment-235012510). I'm going to wait for the rest of his PRs to fix my compile problems

[2016-07-25 18:50] de-vri-es commented on #315
An intermediate recap:

These PRs should cover all packages in their respective repositories:
- [x] ros-planning/geometric_shapes#47
- [x] ros-planning/moveit_core#316
- [x] ros-planning/moveit_ros#726
- [x] ros-planning/moveit_plugins#22
- [x] ros-planning/moveit_setup_assistant#122

It would also be useful to have a list of repositories that should still be tested. Quickly scanning all ros-plann

[2016-07-25 20:10] v4hn commented on #299
@davetcoleman: yes. We need the new version _with octomap 1.8 support enabled_ available in kinetic.
This was the whole plan all along.

@tfoote How do we proceed to get the freshly released libfcl 0.5 in kinetic? We need it for `moveit_core`.
Afair libfcl was distributed in ROS before, so there should be a release repo for this already, is there?

[2016-07-25 20:11] v4hn commented on #315
@davetcoleman: I answered to you there.
So we _need_ the c++11 patches in kinetic.

[2016-07-25 20:15] de-vri-es commented on #315
Quick note: unit tests are still failing to build. I got them build locally but a lot seem to be failing. I don't think the failures are related to the `shared_ptr` change, but I will investigate a bit more before drawing that conclusion. Part of it may also be my python3-gcc6-archlinux environment.

[2016-07-25 20:26] de-vri-es commented on #315
Turns out many of the unit test build failures are related to using gcc 6. Only minor changes were needed to `moveit_core` which are now included in the existing PR (#316). I will put the changes needed for compiling the unit tests with c++11 in a different PR.

The tests that I could run pass, although there were some python 3 issues that I will look at later (and with a separate PR).

[2016-07-25 21:35] de-vri-es commented on #315
Added ros-planning/moveit_plugins#22 to the list above. All it does is enable C++11 support for `moveit_plugins`, which is all that is needed there as far as I could see.

[2016-07-25 21:45] davetcoleman commented on #315
@de-vri-es you've now a [custom rosinstall and travis build](https://github.com/davetcoleman/moveit_kinetic_cpp11) for all these PRs that includes the latest FCL and Octomap. I also included some loose instructions for running this locally on your machine if you feel inclined. Feel free to change the `moveit.rosinstall` file in that repo to include whatever other PRs you need, but you'll need to k

[2016-07-25 21:47] de-vri-es commented on #315
Awesome, thanks. I added the updated version of `moveit_plugins` to the rosinstall file. Its getting quite late for me here, so I will probably do the actual testing tomorrow :)

[2016-07-26 12:37] de-vri-es commented on #315
`moveit_setup_assistant` also needs to be compiled with C++11 support, so we need a `kinetic_devel` branch for the PR :)

/edit: Which I now see is also noticed elsewhere :)

[2016-07-26 14:46] v4hn commented on #315
On Tue, Jul 26, 2016 at 05:37:31AM -0700, Maarten de Vries wrote:

done

[2016-07-26 14:58] de-vri-es commented on #315
Updated the list above with ros-planning/moveit_setup_assistant#120

Still need to get the travis build to pass. It's not compiling FCL currently (it's not a catkin package).

[2016-07-26 19:39] davetcoleman commented on #315
I added a script that pulls in the package.xml - not sure if its getting into the correct folder though: https://github.com/davetcoleman/moveit_kinetic_cpp11/commit/ab0de4fe567810a326ec57d26bb6e87e0dc3cc38

Also another issue is that moveit_core is still pulling in libfcl-dev [here](https://github.com/delftrobotics/moveit_core/blob/kinetic-devel/package.xml#L44) Its causing the built to re-install

[2016-07-26 19:56] de-vri-es commented on #315
Done. As I understood FCL will be shipped in the ROS repos anyway as catkin package, right? Otherwise depending on `fcl` isn't correct I'd think.

Regarding the wget destination, it probably needs _something_ added, but I'm not familiar with travis so I'm not sure what the working directory is at that point. I'd guess it needs `-O fcl/package.xml` added. Won't the `CMakeLists.txt` also require pat

[2016-07-26 20:22] davetcoleman commented on #315
I already added `cd fcl` but your solution is more elegant

No it will build as a pure cmake package with catkin_tools

[2016-07-26 20:27] de-vri-es commented on #315
Ah, nice. I didn't spot the `cd`. So, it might actually pass, or alteast get further into the build now :)

[2016-07-26 20:39] davetcoleman commented on #315
The package.xml we are using appears to be outdated - it depends on libccd when it should be libccd-dev. Will attempt to fix by moving package.xml to our test repo

based on: https://github.com/ros/rosdistro/blob/master/rosdep/base.yaml#L1324

[2016-07-26 21:36] tfoote commented on #299
To release into kinetic as a ros package it's just running bloom again. However I'm not sure if we can do it the default way to avoid colliding with the upstream packages.  @scpeters @j-rivero @wjwwood I know you've been discussing this.

[2016-07-26 22:46] davetcoleman commented on #315
the kinetic build is passing with FCL 0.5! great job @de-vri-es. there are some failing tests but i think its fcl/octomaps fault... they aren't setup to work properly with catkin's test facility. perhaps you could take a look though

[2016-07-26 22:49] de-vri-es commented on #315
Nice. Thanks for the help. I'll look into the unit tests tomorrow.

[2016-07-27 15:43] de-vri-es commented on #315
I added an option to blacklist packages for the unit test phase for the CI server, and used that to blacklist `fcl`, `octomap`, `octovis` and `dynamic_edt_3d` (the last three are all part of the octomap repository). It would appear the unit tests are now all passing.

[2016-07-27 16:16] davetcoleman commented on #315
Yes its passing! I've merged all but https://github.com/ros-planning/moveit_core/pull/316 because it needs to be rebased

[2016-07-27 16:17] davetcoleman commented on #313
Building Kinetic from source now works - see (OLD: https://github.com/davetcoleman/moveit_kinetic_cpp11) NEW: https://github.com/ros-planning/moveit.ros.org/pull/29/files

[2016-07-27 16:17] #313 closed, assigned to nobody

[2016-07-27 16:37] de-vri-es opened #319 "std::shared_ptr versus boost::shared_ptr"
Since C++11 is now officially supported, that raises the issue on whether or not to phase out `boost::shared_ptr` for `std::shared_ptr` in the public API of moveit.

In terms of performance or availability I don't think there is any difference. Both `boost` and the standard library should have high quality `shared_ptr` implementations and should be available on pretty much every platform that coul

[2016-07-27 16:43] davetcoleman opened #320 "Merging MoveIt! Repos"
In an effort to reduce the friction in maintaining and improving the MoveIt! code base we are planning on combining 9 of our current Github repositories into one. For more details see the discussion on [Discourse](http://discourse.ros.org/t/migration-to-one-github-repo-for-moveit/266).

Remaining tasks:
- [x] Pre-announce on moveit-users
- [x] Create new repo https://github.com/ros-planning/moveit

[2016-07-27 17:37] v4hn commented on #319
Is there a discussion somewhere on `roscpp` still using `boost::shared_ptr`?
As they require C++11 in kinetic, I expected they would move to `std::` where possible.

Mixing shared pointer types will really be quite painful, but as `roscpp` for kinetic is already released,
I don't see a way around that.. This will haunt us until 2021 at least. -.-

Thanks for investigating!

[2016-07-28 06:10] dbolkensteyn commented on #315
@v4hn Could you set the new `kinetic-devel` branch to be the default one on the `moveit_setup_assistant` repo?

[2016-07-28 08:51] v4hn commented on #315
On Wed, Jul 27, 2016 at 11:10:40PM -0700, Dinesh Bolkensteyn wrote:

I would like to do that, but it seems I'm not allowed to.
@davetcoleman Could you do that please?

[2016-07-29 00:26] davetcoleman commented on #315
done

[2016-07-31 21:24] davetcoleman commented on #320
For moveit developers not subscribed to the Discourse moveit-developers channel, I recommend it. There are two topics relevant to the merge that @wjwwood and I would like feedback on:

1) [the merge method for saving history](http://discourse.ros.org/t/migration-to-one-github-repo-for-moveit/266/22)
2) [excluding moveit_resources](http://discourse.ros.org/t/migration-to-one-github-repo-for-moveit/

[2016-08-01 12:47] dornhege commented on #249
MoveIt does not have a kinematic tree of the scene. All objects are considered to be in the planning frame (unless attached). I'm not sure, if the added complexity of attached fixed kinematic chains instead of objects warrants this feature. These will not be treated any different during planning to all objects being directly attached.

[2016-08-04 02:34] davetcoleman commented on #319
I'm curious where in the MoveIt! code base we use roscpp code with boost::shared_ptr? Searching for `boost::shared_ptr<ros` I only get one trivial instance that is unimportant and can easily be fixed. I wonder if the mixing is actually a non-issue.

I would really like to see us migrate to `std::shared_ptr` so that this project is relevant now and in 2021. A good sign that we should switch is that

[2016-08-04 18:28] davetcoleman commented on #315
I believe the necessary modifications are complete for FCL & Octomap, we're just waiting on the new debians to be released for FCL. Closing this issue, feel free to reopen if needed.

[2016-08-04 18:28] #315 closed, assigned to nobody

[2016-08-05 09:57] davetcoleman commented on #320
The consolidation is complete, see the [announcement](https://groups.google.com/forum/#!topic/moveit-users/ZaWBydOHqC8)

[2016-08-05 09:57] #320 closed, assigned to nobody

[2016-08-09 14:22] de-vri-es commented on #319
I was mainly thinking of all the automatically generated code for messages and services. Those interfaces rely heavily on `boost::shared_ptr`, although often they are used through typedefs (like `sensor_msgs::JointStatePtr` or `sensor_msgs::JointStateConstPtr`).

[2016-08-16 13:47] de-vri-es commented on #319
Conversation should continue here: ros-planning/moveit#48.

Closing this issue.

[2016-08-16 13:47] #319 closed, assigned to nobody

[2016-08-24 00:21] mikeferguson commented on #197
hydro/precise no longer supported -- tutorials have been majorly updated in the past 2 years

[2016-08-24 00:21] #197 closed, assigned to nobody

[2016-08-24 00:23] #50 closed, assigned to nobody

[2016-08-24 00:24] mikeferguson commented on #299
This is now released and should be good to go

[2016-08-24 00:24] #299 closed, assigned to nobody

[2016-08-24 00:32] #158 closed, assigned to nobody

[2016-08-24 00:33] #229 closed, assigned to nobody

[2016-08-24 00:34] #298 closed, assigned to v4hn

[2016-08-24 00:35] #279 closed, assigned to nobody

[2016-08-24 00:36] mikeferguson commented on #258
seems that we have merged fixes last year

[2016-08-24 00:36] #258 closed, assigned to nobody

[2016-08-24 00:39] mikeferguson commented on #104
Appears that at least a basic interface exists -- https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_ros/planning_interface/robot_interface/src/wrap_python_robot_interface.cpp -- individual improvements should be ticketed in the new moveit repo

[2016-08-24 00:39] #104 closed, assigned to nobody

[2016-08-24 00:48] mikeferguson commented on #277
I believe this was intentionally done as a major performance boost: https://groups.google.com/forum/#!msg/moveit-users/ptnMoi13sXI/XIuPMz5BBHIJ

[2016-08-24 00:48] #277 closed, assigned to nobody

[2016-08-24 08:12] simonschmeisser commented on #277
I'm just proposing to replace the manually allocated chunk of memory with a vector, not to "revert" back to having a complete and complicated data structure. But I guess a PR would be more helpful than words ... let's keep this closed

[2016-08-24 10:16] v4hn commented on #277
+5 feel free to reopen the issue against the new repo please.
I had to hunt down a bug involving this code last week and it's quite horrible.
If you could link to some resources that explain how to allocate the memory properly,
that would be great.
C++11 is allowed as we will clearly not touch this in indigo or jade anymore.

[2016-08-25 18:38] mikeferguson commented on #249
This is a fairly extensive feature request that has seen no movement in a while, closing as we are porting this repo -- if this is still an issue, please open a new ticket against https://github.com/ros-planning/moveit

[2016-08-25 18:38] #249 closed, assigned to nobody

[2016-08-25 18:39] mikeferguson commented on #241
This is more of a question than an actionable issue -- modifying the ACM is probably the way to go right now.

Closing as we are porting this repo -- if this is still an issue, please open a new ticket against https://github.com/ros-planning/moveit

[2016-08-25 18:39] #241 closed, assigned to nobody

[2016-08-25 18:41] mikeferguson commented on #239
ported to moveit repo, see linked issue above

[2016-08-25 18:41] #239 closed, assigned to nobody

[2016-08-25 18:41] mikeferguson commented on #225
Groovy is no longer supported, no action on this ticket in over a year, closing ticket as we are porting this repo -- if this is still an issue, please open a new ticket against https://github.com/ros-planning/moveit

[2016-08-25 18:41] #225 closed, assigned to nobody

[2016-08-25 18:43] mikeferguson commented on #202
ported to new repo, see linked ticket above

[2016-08-25 18:43] #202 closed, assigned to nobody

[2016-08-25 18:43] #222 closed, assigned to nobody

[2016-08-25 18:45] mikeferguson commented on #100
https://github.com/ros-planning/moveit/issues/160

[2016-08-25 18:45] #100 closed, assigned to nobody

[2016-08-25 18:45] mikeferguson commented on #167
https://github.com/ros-planning/moveit/issues/160

[2016-08-25 18:45] #167 closed, assigned to nobody

[2016-08-25 18:45] mikeferguson commented on #141
https://github.com/ros-planning/moveit/issues/160

[2016-08-25 18:45] #141 closed, assigned to nobody

[2016-08-25 18:47] mikeferguson commented on #217
@davetcoleman -- closing this, please port to moveit repo if this is still an issue you're interested in

[2016-08-25 18:47] #217 closed, assigned to nobody

[2016-08-25 18:48] mikeferguson commented on #212
This is a 2 year old ticket with no follow up -- as we are porting tickets to the new moveit repo (https://github.com/ros-planning/moveit) I am going to close this, please reopen there if this is still an issue

[2016-08-25 18:48] #212 closed, assigned to nobody

[2016-08-25 18:51] mikeferguson commented on #40
ported to new repo

[2016-08-25 18:51] #40 closed, assigned to nobody

[2016-08-25 18:52] #129 closed, assigned to nobody

[2016-08-25 18:56] mikeferguson commented on #215
ported to moveit repo

[2016-08-25 18:56] #215 closed, assigned to nobody

[2016-08-25 18:57] mikeferguson commented on #61
ported to new moveit repo

[2016-08-25 18:57] #61 closed, assigned to nobody

[2016-08-25 18:59] mikeferguson commented on #257
ported to new repo

[2016-08-25 18:59] #257 closed, assigned to nobody

[2016-08-25 19:02] mikeferguson commented on #93
ported to new repo

[2016-08-25 19:02] #93 closed, assigned to nobody

[2016-08-25 19:02] mikeferguson commented on #161
@davetcoleman -- I think some of this made it into moveit -- if there are additional things to do, please open a new ticket against the new repo

[2016-08-25 19:02] #161 closed, assigned to nobody

[2016-08-25 19:04] #84 closed, assigned to nobody

[2016-08-25 19:05] mikeferguson commented on #238
ported to new repo

[2016-08-25 19:05] #238 closed, assigned to nobody

[2017-06-22 17:46] scchow commented on #150
Same problem with same fix on Ubuntu 16.04 and ROS Kinetic encountered when following [this tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/pr2_tutorials/planning/src/doc/move_group_interface_tutorial.html).

[2017-06-26 11:40] v4hn commented on #150
@scchow I can't reproduce this over here on 16.04 / kinetic. I downloaded the referenced repositories and build them as instructed and everything builds as expected.

[2017-06-27 06:25] davetcoleman commented on #150
we have many automated tests continuously running for around 9 versions of Ubuntu/Debian/Fedora, as specified in the [target platforms](http://www.ros.org/reps/rep-0003.html#indigo-igloo-may-2014), so the Eigen issue is likely a local misconfiguration